/**
 * inlinemultiselect stylesheet
 */
 
/* container for select-multiple lists of checkboxes + controls */
div.selectWrapper {
  position:absolute;
  width:200px;
  height:120px;
  padding:0;
  margin:0;
  overflow:hidden;
  display:none;
  background-color:#eef;
  border:1px solid #69c;
  font:1em sans-serif;
  z-index:10;
}
/* control link at the top of the list (all, none, reset, close) */
div.selectWrapper a.selectControl {
  display:block;
  text-decoration:none;
  float:right;
  border:1px solid #69c;
  color:#393;
  padding:1px 2px;
  font-size:12px;
  line-height:12px;
  margin:1px 1px 0 0;
  background-color:#fff;
  text-align:center
}
div.selectWrapper a.selectControl:hover, div.selectWrapper a.selectControl:visited:hover {
  color:#fff;
  background-color:#69c
}
/* container for actual list of options/checkboxes */
div.selectWrapper div.listWrapper {
  position:absolute;
  left:0px;
  bottom:0px;
  width:200px;
  height:100px;
  overflow:auto;
  background-color:#fff;
  border-top:1px solid #69c;
  text-align:left;
}
/* list of options/checkboxes */
div.selectWrapper div.listWrapper ul, div.selectWrapper div.listWrapper ul li {
  list-style:none;
  padding:0;
  margin:0;
  background:#fff;
}
/* labels next to checkboxes */
div.selectWrapper div.listWrapper label {
  display:block;
  cursor:pointer;
  padding:3px 3px 3px 25px;
  border-bottom:1px solid #eef;
  background:#fff;
}
/* label appearance when checkbox is checked */
div.selectWrapper div.listWrapper label.boxChecked {
  line-height:1em;
  background:#69c;
  color:#fff;
  font-weight:bold;
}
/* label appearance when checkbox is unchecked */
div.selectWrapper div.listWrapper label.boxUnchecked {
  line-height:1em;
  background:#fff;
  color:#000;
  font-weight:normal;
}
/* label appearance when checkbox is disabled */
div.selectWrapper div.listWrapper label.boxDisabled {
  background:#eee;
  color:#666;
  font-style:italic;
}
/* label appearance when checkbox is unchecked, enabled and the mouse is hovering */
div.selectWrapper div.listWrapper label.boxHover {
  background:#ddf;
}
/* checkbox */
div.selectWrapper div.listWrapper input.listBox {
  margin:-1px 5px 0 -20px;
}