<div class="menuBlock">
	<ul>
		<li>
			<a href="{$SECTION_ALIAS}" title="Общая информация профиля">Профиль</a>
		</li>
		<li>
			<a href="{$SECTION_ALIAS}passchange/" title="Сменить пароль">Смена пароля</a>
		</li>
	</ul>
</div>
<div id="sidebar_bottom"></div>