{include file="top.tpl"}

<body>
    {include file="header.tpl"}
    <!--{include file="navigation.tpl"} ЗАКОМИЧЕННОЕ МЕНЮ -->
    <!--{include file="breadcrumbs.tpl"}ЗАКОМИЧЕННЫЕ Хлеб Крошки -->
    {if isset($CONTENT)}{$CONTENT}{/if}
    {if isset($CONTENT_TPL)}
        {include file="$CONTENT_TPL"}
    {/if}
    {include file="footer.tpl"}
</body>
</html>