<!--
<form method="POST" action="" id="sendTokenForm">
<label for="email">Введите email, указанный при регистрации</label>
<input id="email" name="email" type="text" />
<input type="submit" name="doSend" value="Отправить ключ" />
</form>
-->