{if isset($PAGE)}
    <h1>{$PAGE.caption}</h1>
{/if}
{foreach from=$articles item=section key=key}
    {if !empty($section.article)}
        {if ($section.caption!='без категории')}
     {$section.caption}<br/>
        {/if}
         {foreach from=$section.article item=item key=key}     
        <a href="/articles/{$item.articleID}">{$item.title}</a><br/>
        {$item.publicationDate}<br/>
        {$item.summary}<br/><br/>
     {/foreach}
     {/if}
{/foreach}

{include file="paginator.tpl"}

