.controlItem {margin: 10px}
.controlItem .name {font-weight: bold; width: 200px; font-size: 120%;}
.controlItem .description,
.controlItem .version,
.controlItem .settings {margin-left: 20px;}

.controlFormContainer,
.settingFormContainer {display: none;}

.controlFormContainer .row,
.settingFormContainer .row {margin: 10px 0;}

.controlFormContainer .close,
.settingFormContainer .close{color: red; font-weight: bold;}

.controlFormContainer input,
.settingFormContainer input {width: 580px;}

.controlItem {width: 40%; border: 1px solid #BFEF01; background-color: #EEE; padding: 10px;}
.showSettingsBtn {cursor: pointer;}
.showSettingsBtn:hover {text-decoration: underline;}

.controlSettingsContainer {display: none; margin-left: 20px;}
.controlSettingsContainer .title {text-align: right; font-weight: bold;}

.showSettingsBtn {}