body {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
h1 {
	color:#BFEF01;
}
#container {
	width: 350px;
	margin: 30px auto;
	
}
.btn-reg{text-align:center;}
span.info{
    color: #BABABA;
    font-size: 9px;
    display: block;
    margin-top: -3px;
}
#captchaImg{
    display:block;
    width: 126px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #CCCCCC;
    border-left-width: 0;
    height: 43px;
}