<h1>Дерево маршрутов</h1>
<a href="{$CONTROLLER_ALIAS}add/">Добавить новый</a>
<a href="{$CONTROLLER_ALIAS}cleancache/">Очистить кэш маршрутов</a>
<div id="multi-tree">
	{include file='routing/subtree.tpl' SUBTREE=$ROUTING_TREE}
</div>