div.formElement{margin-bottom:0;}
table, td, th {padding:0;}
#content span.preview a {padding:0;}
.modal-footer a{text-decoration: none;}
table, td, th {border:0;}
#block-collabse a:hover{color:#FFF;cursor:pointer;}

/* block_fotos.tpl */
#foto-info{width: 225px; float: left; height: 122px;border-right: 1px solid #DDDDDD; padding: 15px;}
#foto-list-tags{width: 265px; float: right; margin: 0;height: 138px; padding-top: 15px; padding-left: 15px;}
#foto-list-tags ul{height:104px;overflow:auto;margin-left: 0;}
span.badge.count_download{left: 128px; position: absolute;}
/* block_fotos.tpl [end] */

/* checkbox3 */
.checkbox{
     float:left;
     clear:left;
     margin-top:5px;
     width:12px;
     height:13px;
     background: url('/modules/Fotobank/images/checkboxs.png') no-repeat 0px 0px;
     margin-right: 10px;
     margin-top: 3px;
}
.checkbox input{
     filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
     -moz-opacity: 0;
     -khtml-opacity: 0;
     opacity: 0;
     cursor: pointer;
}
/* checkbox3 [end] */