<h1>Используйте лучший браузер!</h1>

<p>
    Для работы с нашей системой, Вы используете браузер Microsoft Internet Explorer, который устанавливается по умолчанию на все компьютеры под управлением операционной системы Windows.
    К сожалению, компания Microsoft не может постоянно улучшать свой браузер, поэтому он очень быстро устаревает, медленно работает, имеет много брешей в системе безопасности, а также множество других недостатков.
</p>

<p>
    Мы, разработчики компании АЯКО, рекомендуем Вам загрузить бесплатный, быстрый, современный и надёжный бразуер FireFox компании Mozilla, которая уже много лет разрабатывает браузеры. Этот браузер не только работает быстрее, но и имеет множество дополнений, упрощающих вашу работу.
</p>

<a href="http://www.mozilla-europe.org/ru/firefox/" style="font-size:2em;text-decoration:underline;">Установите FireFox!</a>