        <ul>
            <li>
                <a href="{$MODULE_ALIAS}list/">Все сообщения</a>
                <a href="{$MODULE_ALIAS}Appointment/">Запись на прием</a>
                <a href="{$MODULE_ALIAS}Question/">Вопрос врачу</a>
                <a href="{$MODULE_ALIAS}Consultation/">Консультация</a>
                <!-- <a href="{$MODULE_ALIAS}Free/">Бесплатная консультация</a> -->
            </li>
        </ul>
