			<h1>Управление обратной связью</h1>
			
			<p>
					В данном разделе Вы можете управлять параметрами обратной связи:
					
					<ul>
						<li>Просматривать сообщения, полученные с сайта</li>
					</ul>
			</p>