	{if isset($SCRIPT_FILE) and isset($isPart)}
{foreach from=$SCRIPT_FILE item=FILE}
<script type="text/javascript" src="{$FILE}"></script>
{/foreach}
{/if}
<div class="block_{$FORM_BLOCKS[0].controls[0].formIndex}">
{include file='formBlocks.tpl'}
</div>
<div class="formBlock1">
	<div class="formElement " style="margin:0 0 10px 14px;">
		<input type="submit" value="Сохранить" name="doSave" class="handyButton" />
	</div>
</div>

