<script type="text/javascript">
{literal}
function OkClick() {
{/literal}
	var redir='{$REDIRECT_URL}'; 
{literal}
	if (redir == 'back') 
	{history.back();} 
	else window.location=redir;
}
{/literal}
</script>
<table border = "0" height="100%" width="100%">
	<tr> 
		<td valign="middle" align="center">
			<div id="container" class="error">
				<h1 align="center">Ошибка!</h1>
				<div id="msg">
					{$ERROR_MSG}
				</div>
				<br />
				<div align="center">
					<input type="button" value="Ok" onclick="OkClick();" />
				</div>
				<br />
			</div>
		</td>
	</tr>
</table>