<div id="header">
        <h1>
    <a href="{$ADMIN_ALIAS}">
        <img src="{$ADMIN_IMAGES}backgrounds/logo.png" class="logo" alt="" style="vertical-align: middle;" />
    </a>
</h1>
<h3>Управление сайтом: <a href="{$HOST_NAME}">{$SETTINGS.general.siteName}</a> v{$SETTINGS.general.version}</h3>
</div>