#block-collabse {
  background: #ddd;
  margin: 0 auto;
  max-width: 1024px;
  font: normal 14px/1.2 'Helvetica Neue', 'Arial';
  margin-bottom: 30px;
}

#block-collabse .fork {
  border:0;
  position:absolute;
  top:0;
  right:0;
}

#block-collabse .col {
  width: 320px;
  float: left;
  margin-right:32px;
  margin-bottom: 16px;
}
#block-collabse .c3 {
  margin-right:0;
}

#block-collabse h1 {
  border-bottom: 1px solid #333;
  font-size: 32px;
  color: #fff;
  padding-bottom: 12px;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.6);
}

#block-collabse h2 {
  margin: 10px 0;
  color: #000;
  font-size: 18px;
  text-shadow: 1px 1px 2px #fff;
}

#block-collabse h3 {
  margin: 0;
  background-color: #9E9E9E;
/*  background-image: linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);
  background-image: -o-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);
  background-image: -moz-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);
  background-image: -webkit-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);
  background-image: -ms-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);*/
}
#block-collabse h3:hover { background: #707070; }
#block-collabse h3.open  { background: #707070; }

#block-collabse h3 a {
  background: url("/modules/Fotobank/images/sprite.png") 15px 13px no-repeat;
  display: block;
  padding: 10px;
  padding-left: 32px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px solid #595959;
  text-shadow: 1px 1px 1px #2F2F2F;
}

#block-collabse h3.open a { background-position: 13px -25px; }
#block-collabse h3 + div { padding: 10px; }

#block-collabse h2 + div,
#block-collabse .example {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
}

/* Pre hide sections with JavaScript on
--- */
#block-collabse h3+div {
  display: none;
}

/* CSS3 Animation example
--- */
#block-collabse #css3-animated-example h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
#block-collabse #css3-animated-example .content {
  padding: 10px;
}

#block-collabse #css3-animated-example h3.open + div {
  height: auto;
  background: #aaffff;
}

/* Event example
--- */
#block-collabse pre#event-log {
  background: #fafacc;
  padding: 10px;
  display: block;
}

/* Responsive design
--- 
@media screen and (max-width: 1056px) {
  body {
    width: 672px;
  }
  .c2 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media
only screen and (max-width: 704px),
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  body {
    width: 320px;
  }
  .c1 {
    margin-right: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 28px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.7);
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  body {
    padding: 0 12px;
  }
}
*/

/* bootstrap */

#block-collabse .list-group{
	margin: -10px;
        padding-left: 0;
}

#block-collabse .list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

#block-collabse .list-group-item.list-image{
	padding:0;
        height: 152px;
}

#block-collabse .list-group-item .block-image{
	width:152px;
	height:152px;
	overflow: hidden;
}

#block-collabse .list-group-item .block-image{float: left;}

#block-collabse .list-group-item:hover{
	background-color: #F5F5F5;
	cursor:pointer;
}

#block-collabse .list-group-item.active{
	z-index: 2;
	color: #fff;
	background-color: #428bca;
}

#block-collabse .badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #888888;
	border-radius: 10px;
	float: right;
}

#block-collabse .block-list .block-list{
	padding: 0;
}

#block-collabse .block-list .block-list h3 a {
	background-position: 37px 13px;
	padding-left: 56px;
}

#block-collabse .block-list .block-list h3.open a{
	background-position: 37px -25px;
	padding-left: 56px;
}

/* bootstrap [end] */

/* правки mainStyle.css */

#container #block-collabse a:link, #container #block-collabse a:visited {
    color: #FFF;
}

#nav li a:hover, .active {
    background-image: none;
}

#content ul li {
    margin: 0;
}