<h1>Редактирование отзыва</h1>
<form action="" method="post" id="reviewForm" enctype="multipart/form-data">

	{include file="formBlocks.tpl"}

	<div style="margin-left:350px">
		<input type="submit" value="Сохранить" name="doSave" class="handyButton" />
	</div>

</form>