{#block: top}

<div id="container">
		
	<div class="w1">
		{#block: header}
			
		{#block: navigation}
					
		<br class="clear" />
		
		<div id="sidebar">
					
				<p>
					<a href="back.php" title="Написать письмо разработчикам CMS">Обрантая связь</a>
				</p>
							
				<div id="sidebar_bottom"></div>
					
		</div>
					
		<div id="content">
					
			{#var: CONTENT}

		</div>
	</div>
		
</div>
		
<div id="footer">
</div>

{#block: bottom}
