#sections{width: 500px; height: 200px;}
input[name="doDel"]{margin-left: 434px; margin-top: 5px;}
input[name="section"]{width: 421px;}
div.menuBlock ul.sections{margin-left: 30px;}
td.skip{text-align: center;}