	<input type="hidden" name="{$localVars.NAME}[]" value="0" />
	<div style="width:250px;display:block;float:left">
	{foreach from=$localVars.OPTIONS item=OPTION}
		<div style="margin:3px 0"><input type="checkbox" value="{$OPTION.VALUE}" name="{$localVars.NAME}[]" id="{$OPTION.ID}" {if !empty($localVars.CLASS)}class="{$localVars.CLASS}"{/if}{if !empty($localVars.READONLY)} redaonly="readonly"{/if}{if $OPTION.SELECTED} checked="checked"{/if}/><label for="{$OPTION.ID}">{$OPTION.TEXT}</label></div>
	{/foreach}
	</div>
	<div style="clear:left"></div>