body {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
h1 {
	color:#BFEF01;
}
#container {
	width: 250px;
	margin: 30px auto;
	
}
#formContainer {
	float: left;
	width: 250px;
}
.control {
	float: left;
	clear: left;
	margin: 0 0 7px 0;
	width: 250px;
}
.control label {
	display: block;
	float: left;
	width: 90px;
}

.control input {
	display: block;
	float: left;
	width: 140px;
}

.handyButton{
    cursor: pointer;
}

#submitContainer {
	margin-top: 15px;
        text-align: center;
}

#submit {
	width: 130px;
}

#pwdRecoveryContainer, #registrationContainer {
	float:left;
	clear: left;
	margin-top: 5px;
	width: 235px;
	text-align: right;
}
#registrationContainer {margin-top: -5px;}
#restorePwd, #register {
	font-size: 0.7em;
}

.text {
	width: 245px;
	margin: 0 0 10px 0;
	font-size: 0.8em;
}

#rememberme {
	padding-left:73px;
}

label.formElementLabel{width:72px;}
div.formElement input, div.formElement select{width:142px;}
#remember_pass_container{
    color: #CCCCCC;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: -14px;
}
#remember_pass{
    position: relative;
    top: 3px;
}