#message{
    margin-bottom: 21px;
    font-size: 13px;
    display: none;
}
.error{color:red;}
.success{color:green;}

/* form */

div.formElement{
	margin-bottom: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, select{transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;}

div.formElement input:focus, div.formElement select:focus{
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

div.formElement.error input, div.formElement.error select, div.formElement.error textarea{
	border-color: #B94A48;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

div.formElement.error input:focus, div.formElement.error select:focus, div.formElement.error textarea:focus{
	border-color: #953B39;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
}

div.formElement.success input, div.formElement.success select, div.formElement.success textarea{
	border-color: #468847;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

div.formElement.success input:focus, div.formElement.success select:focus, div.formElement.success textarea:focus{
	border-color: #356635;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;
}

div.formElement input, div.formElement select {
	border-radius: 4px 0 0 4px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	margin-bottom: 10px;
	padding: 4px 6px;
	width: 206px;
	font-size: 14px;
	height: 20px;
	position:relative;
}

div.formElement.round input, div.formElement.round select{
	border-radius: 4px;
	outline: none;
}

div.formElement select{
	height:30px;
	width:220px;
	padding:5px 6px;
}

label.formElementLabel{
	border-radius: 0 4px 4px 0;
	margin-left: -5px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	width: 115px;
	padding: 4px 5px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	cursor: pointer;
	color: #333333;
	text-align: right;
}	

/* form [end] */