/* CSS Document */
body {
	background-color:#fff;
	background-image:url(/images/admin/backgrounds/body.jpg);
	background-position:top;
	background-repeat:repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:75%;
	color:#777;
	margin:0;
}

* {
	padding:0;
	margin:0
}

a img {
	border: none;
}

#container {
	width:95%;
	margin:0 auto 0 auto;
}

#header {
	height:69px;
}
#header img {
	border: none;
}

#header h1 {
	font-family:Century Gothic, "Trebuchet MS", Tahoma, Verdana;
	font-size:250%;
	color:#333;
	letter-spacing:-1px;
	padding:15px 50px 0 10px;
	float:left;
}
#header h1 a {
	position: absolute;
	color:#000;
	text-decoration:none;
}
#header h3 {
	padding:33px 0 5px 40px;
	font-size:100%;
	color:#ccc;
	font-weight:normal;
	margin: 0 0 0 270px; /* Adjust this value for the space between the site title and the slogan */
}
#sidebar_bottom {
	background-image:url(/templates/admin/new/images/backgrounds/sidebarbottom.jpg);
	height:53px;
}

#nav {
	margin:0px 20px 0 0 !important;
	margin:0px 10px 0 0;
	padding:0;
	float:right;
}

#nav li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}

#nav li a {
	display:block;
	padding:3px 5px 12px 10px;
	margin:2px 1px 0 1px;
	color:#666;
	text-decoration:none;
	font-size: 1.15em;
}

#nav li a:hover, .active {
	background-image:url(/templates/admin/new/images/backgrounds/menu_a_hover.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	color:#000;
}

/*DDmenu*/
#nav li li
{
	width: 100%;
}

#nav li li a
{
	width: 100%;
	margin: 0;
	padding: 4px 0 4px 0;
	text-indent: 7px;
}

#nav li li a:hover {
	background: none;
	background-color: #AFDC01;
	color: #fff;
}
.clear {
	clear:both;
}

#container a:link, #container a:visited {
	color: #666666;
}
#container a:hover {
	color: #000;
}

#sidebar {
	width:210px;
	padding:30px 20px 20px 20px;
	float:left;
	margin:20px 0 0 -101%;
}

#sidebar a{
	font-size: 12px;
	text-decoration: none;
}

#sidebar a:hover
{
	text-decoration: underline;
}

#sidebar ul li{
    list-style: none;
}

#contentwrapper{
	float: left;
	width: 100%;
	position:relative;
	overflow:hidden;
}

#content {
	margin:50px 0 0 270px;
	padding:0px 30px 20px 20px;
	position:relative;
	overflow:hidden;
}
#contentForSingleColumnPage {
	margin: 30px 10px;
}
#content h1, #contentForSingleColumnPage h1 {
	font-family:"Trebuchet MS", Tahoma, Verdana;
	font-size:24px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin:10px 0 20px 0;
	color:#BFEF01;
}
#content h2, #contentForSingleColumnPage h2 {
	font-size:16px;
	color:#333;
	font-family:"Trebuchet MS", Tahoma, Verdana;
	margin:10px;
}

#content p {
	line-height:20px;
	word-spacing:2px;
	padding:0;
	margin:20px 0 20px 0;
}
#content ul {
	margin:15px 0 15px 20px;
	padding:0;
	border-top:1px solid #eee;
}
#content ul li {
	margin:10px 0 10px 0;
	padding:0 0 10px 15px;
	list-style:none;
	border-bottom:1px solid #eee;
	/*background-image:url(/templates/admin/new/images/backgrounds/li.gif);*/
	background-position:top left;
	background-repeat:no-repeat;
}
#content #sideblock {
	width:180px;
	padding:10px;
	float:right;
	font-size:90%;
	margin:0 0 0 20px;

}

.sidebarfooter {
	background-color:#eee;
	text-align:left;
	padding:7px 5px 7px 5px;
	font-size:80%;
}
.sidebarfooter a {
	background-color:#f6f6f6;
	padding:3px;
	text-decoration:none;
}
.sidebarfooter a:hover {
	color:#000;
	background-color:#fff;
}
#content #sideblock h1 {
	text-transform:none;
	font-size:120%;
	color:#000;
	margin:0;
	letter-spacing:0;
}
#sideblock p {
	text-indent:0;
	line-height:17px;
	padding:5px;
	margin:5px 0 5px 0;
	color:#bbb;
}
#sideblock ul {
	margin:0 0 5px 5px;
	border:none;
}
#sideblock li {
	margin: 0;
	background-image:none;
	padding:0;
	border:none;
}
#sideblock li a {
	text-decoration:none;
	display:block;
	background-color:#fff;
	padding:5px 5px 5px 10px;
	color:#888;
}
#sideblock li a:hover {
	background-color:#f9f9f9;
	color:#666;
	background-image:url(/templates/admin/new/images/backgrounds/sideblock_li_a_hover.gif);
	background-position:left;
	background-repeat:no-repeat;
}
blockquote {
	background-image:url(/templates/admin/new/images/backgrounds/bq.jpg);
	background-position:top;
	background-repeat:repeat-x;
	padding:5px 35px 5px 5px;
	border:1px solid #eee;
	font-family:"Trebuchet MS", Tahoma, Verdana;
}

#content a {
	color:#444;
	padding:2px;
}
#content a:hover {
	/*background-color:#EBFF99;*/
	color:#000;
}
a:hover {
	text-decoration:none;
}
#sidebar a:link, #sidebar a:visited{
	color:#333;
	font-size: 1.1em;
	text-decoration: none;
}
#sidebar a:hover{
	text-decoration: underline;
}
#sidebar span.menu_item {
	display: block;
	margin: 0 0 6px 0;
}

#sidebar h1 {
	font-family:Century Gothic, "Trebuchet MS", Tahoma, Verdana;
	font-size:20px;
	color:#777;
	font-weight:normal;
	letter-spacing:-1px;
}

#sidebar p {
	font-size:90%;
	line-height:1.3em;
/*	margin:10px 0 10px 0; */
}

#footer {
	clear: both;
	padding:20px;
	border-top:2px solid #ccff00;
	color:#ccc;
	text-align:right;
    width:95%;
}

#footer .left {
    float:left;
}
#footer .right {
    float:right;
    width: 440px;
}

#footer a {
	color:#999;
	font-size: 1.02em;
}
#footer .footerLogo {
	vertical-align: middle;
	border: none;
}

.handyButton { cursor: pointer;}
.moveCursor {cursor:move;}

.submitLink {
   color: grey;
   font-size: 100%;
   text-align: right;
   align: right;
   background-color: transparent;
   text-decoration: none;
   border: none;
   cursor: pointer;
}

.submitLink:hover{
   color: black;
}

.submitLinkDiv{
	width: 500px;
}

.pictogramm{
	border: none;
	margin: 0 5px -1px 0;
	vertical-align: text-bottom;
}

.noborder{
    border: none;
}

.pseudoRow
{
	clear: both;
	padding: 7px 0;

}
.leftPseudoCol
{
	float: left;
	width: 100px;
	padding: 0 25px 0 0;
}
.rightPseudoCol
{
	float: left;
}

.helper {
	margin-left: 5px;
	font-weight: bolder;
}
img.linkIcon {
	vertical-align: middle;
}
a.jsLink:link, a.jsLink:visited{
	text-decoration: none;
	border-bottom: thin #888888  dotted;
}
a.jsLink:hover{
	border-bottom: thin #888888 solid;
}
.hidden {
	display: none;
}

ul#structure span.inactive > a
{
    color: #99958c;
}

ul#structure span.selected > a
{
    background-color: #BFEF01;
}
ul.number-page li {
    float: left;
    list-style-type: none;
    background: none!important;
}

/* new */
@font-face {
	font-family:"Lato Light";
	src:url("../fonts/Lato-Light.eot?") format("eot"),
		url("../fonts/Lato-Light.woff") format("woff"),
		url("../fonts/Lato-Light.ttf") format("truetype"),
		url("../fonts/Lato-Light.svg#Lato-Light") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
		url('../fonts/ubuntu-r-webfont.woff') format('woff'),
		url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,
body {
	height:100%;
}
body {
	font-family:'ubunturegular', Verdana ,Arial ,Helvetica ,sans-serif;
	background:#fff url(/templates/admin/new/images/backgrounds/bg-body.gif) repeat-y 0 0;
	min-width:1000px;
}
body a,
#container a,
#footer a,
#header h3 a,
#container a:link,
#container a:visited {
	color:#0080ff;
	/*color: #666666;*/
}
body a:hover,
#container a:hover,
#footer a:hover,
#header h3 a:hover {
	color:#5b5d63;
}
.w1 {margin-bottom:50px;}
/* hesder */
#header {position:relative;}
#container a {
	color:#0080ff;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
#header h1 {
	background:#181b22;
	padding:22px 0 0 28px;
	width:292px;
	height:42px;
}
#header h1 a {
	background: url(/templates/admin/new/images/backgrounds/logo.png) no-repeat 0 0;
	width:165px;
	height:28px;
	text-indent:-9999px;
	overflow:hidden;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	opacity:1;
}
#header h1 a:hover {opacity:0.7;}
.holder-left-top {
	background:#fff;
	margin:0 0 0 320px;
}
#header h3 {
	background:#fff;
	margin:0;
	padding:0;
	height:64px;
	color:#5b5d63;
	font-size:14px;
	line-height:16px;
}
#header h3 > span {
	display:block;
	margin:0 0 5px;
}
#header h3 a {
	background: url(/templates/admin/new/images/backgrounds/bg-link.gif) no-repeat 98% 50%;
	text-decoration:none;
	padding:0 28px 0 0;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}
#header h3 a:hover {background-position:100% 50%;}
#header h3 a span {text-decoration:underline;}
#header h3 a:hover span {text-decoration:none;}
#sidebar_bottom {display:none;}
#header .logo-small {
	position:absolute;
	top:14px;
	left:0px;
}
#header .logo-small img{
    max-width: 150px;
    max-height: 50px;
}
.holder-left-top {
	margin:0 0 0 320px;
	overflow:hidden;
	height:64px;
	position:relative;
}
.logo-small {
	position:absolute;
	top:0px;
	left:0px;
	width:160px;
	text-align:center;
}
.logo-small a img {
	opacity:1;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.logo-small a:hover img{opacity:0.7;}
.holder-left-top .holder-right {
	margin:9px 0 0 160px;
	padding:5px 0 0 14px;
	border-left: 1px solid #e5e5e5;
}
/* #nav */
#nav {
	float:none;
	position:absolute;
	top:16px;
	right:0px;
	margin:0 !important;
}
#nav li a.exit {
	background:#181b22 url(/templates/admin/new/images/backgrounds/bg-exit.png) no-repeat 50% 50%;
	width:32px;
	height:32px;
	padding:0;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 0 44px;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}
#nav li a.exit:hover {
	background-color:#595959;
	background-position:70% 50%;
	border:0;
}
#nav li a.profile {
	color:#595959;
	text-transform:uppercase;
	font-size:14px;
	line-height:16px;
	padding:0 17px 0 0;
	display:inline-block;
	vertical-align:top;
	background: url(/templates/admin/new/images/backgrounds/bg-drop.gif) no-repeat 100% 7px;
	margin:7px 0 0;
}
#nav li {
	position:relative;
	overflow:hidden;
}
#nav li a.profile > span {
	display:block;
	position:relative;
	padding:0 0 3px;
	overflow:hidden;
}
#nav li a.profile span span {
	position:absolute;
	bottom:2px;
	left:0px;
	width:100%;
	border-top: 1px dotted #595959;
	-webkit-transition: bottom .2s ease-in-out;
	-moz-transition: bottom .2s ease-in-out;
	-ms-transition: bottom .2s ease-in-out;
	-o-transition: bottom .2s ease-in-out;
	transition: bottom .2s ease-in-out;
}
#nav li a.profile:hover span span{
	bottom:-1px;
}
/* sidebar */
#sidebar {
	width:320px;
	margin:-5px 0 0 -100%;
	padding:0;
	z-index: 10;
	position: relative;
}
#sidebar div.menuBlock ul li a {
	display:block;
	color:#5b5d63;
	background:#f5f7fa;
}
#sidebar div.menuBlock ul li:first-child  a {
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
}
#sidebar div.menuBlock ul li a:hover{
	background:#595959;
	color:#fff;
}

/* content */
#content {
	margin:9px 0 0 316px;
	padding:0 16px 20px 20px ;
}
#sortProducts table td {background-color:#f1f1f1;}
#sortProducts table tr.odd {background-color: #e1e3e6;}


#content h1,
#contentForSingleColumnPage h1 {
	font:36px/40px"Lato Light", "Trebuchet MS", Tahoma, Verdana;
	font-weight:normal;
	color:#181b22;
	margin:0 0 42px;
	text-transform:none;
}
#container {
	width:100%;
	min-height:100%
}
/* table */
#contentwrapper table {
	border-collapse:collapse;
	border:0;
	padding:0;
	width:100%;
	-webkit-box-shadow: #ccced3 0 1px 1px;
	-moz-box-shadow:#ccced3 0 1px 1px;
	box-shadow:#ccced3 0 1px 1px;
}
table thead,
table tbody,
table tfoot {
	width:100%;
	border-collapse:collapse;
	border:0;
	padding:0;
	margin:0;
}
#contentwrapper table tr {
	background:none;
	border-collapse:collapse;
}
#contentwrapper table tr th {
	color:#fff;
	background: #777777;
	font-weight:normal;
	/*	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#242832), to(#191c23));
		background: -webkit-linear-gradient(#242832, #191c23);
	background: -moz-linear-gradient(#242832, #191c23);
	background: -ms-linear-gradient(#242832, #191c23);
	background: -o-linear-gradient(#242832, #191c23);
	background: linear-gradient(#242832, #191c23);
		-pie-background: linear-gradient(#242832, #191c23);*/
border-collapse:collapse;
	border:0;
	font-size:14px;
	line-height:16px;
	padding:8px 5px;
	font-weight:normal;
	text-align:left;
}
#container table tr th a {
	color:#fff !important;;
	background: #242832;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	text-decoration:none;
	/*color:#5b5d63 !important;*/
	-webkit-transition:background .2s ease-in-out;
	-moz-transition:background .2s ease-in-out;
	-ms-transition:background .2s ease-in-out;
	-o-transition:background .2s ease-in-out;
	transition:background .2s ease-in-out;
}
#contentwrapper table tr th a {background: url(/templates/admin/new/images/backgrounds/bg-line.gif) repeat-x 0 17px;}
#container table tr th a:hover {background-position:0 20px;}
#contentwrapper table tr td {background:#f1f1f1;}
#contentwrapper table tr.odd td {background:#e1e3e6;}
#contentwrapper table tr td {
	border-collapse:collapse;
	border:0;
	color:#757880;
	font-size:13px;
	line-height:16px;
	padding:5px 5px;
	border-bottom: 1px solid #d8d9db;
	-webkit-transition:border-color .2s ease-in-out, background .2s ease-in-out;
	-moz-transition:border-color .2s ease-in-out, background .2s ease-in-out;
	-ms-transition:border-color .2s ease-in-out, background .2s ease-in-out;
	-o-transition:border-color .2s ease-in-out, background .2s ease-in-out;
	transition: border-color .2s ease-in-out, background .2s ease-in-out;
}
#contentwrapper table tr.odd td {border-bottom: 1px solid #ccced3;}
#contentwrapper table tr:hover td,
#contentwrapper table tr.odd:hover td {
	background:#BFBFBF;
}
#contentwrapper table tr:hover td,
#contentwrapper table tr.odd:hover td{
	border-color:#c2cfa7;
}
#contentwrapper table tr td.hov {
	border-right: 2px solid #f1f1f1;
	padding:0;
	font-size:0px;
	line-height:0px;
	text-indent:-9999px;
	overflow:hidden;
	width:0;
	-webkit-transition: border-color .2s ease-in-out;
	-moz-transition: border-color .2s ease-in-out;
	-ms-transition: border-color .2s ease-in-out;
	-o-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
}
#contentwrapper table tr.odd td.hov {border-color:#e1e3e6;}
#contentwrapper table tr:hover td.hov {border-color:#0080ff !important;}
#contentwrapper table tr:hover td .aft,
#contentwrapper table tr.odd:hover td .aft {left:0;}
#contentwrapper table tr.last td {
	line-height:40px;
}
#contentwrapper table tr.last td {
	background:#fff !important;
	border-bottom: 1px solid #ececec;
	vertical-align:middle;
	padding-top:16px;
	padding-bottom:16px;
	padding:12px 5px;
}

#contentwrapper table tr.last td:after {display:none;}
#contentwrapper table tr.last .selectArea {
	float:left;
	margin-left:15px;
	margin-right:-1px;
}
#contentwrapper table tr .title {
	float:left;
	margin:0 15px 0 0;
}
.lef {
	float:left;
	margin:0 15px 0 0;
}
.b3 {
	overflow:hidden;
	width:100%;
	position:relative;
	margin:30px 0 0;
	height:34px;
	padding:7px 0 0;
}
.b3 h3 {
	font-weight:normal;
	font:14px/30px'ubunturegular', Verdana ,Arial ,Helvetica ,sans-serif;
}
input[type="submit"],
input[type="button"],
button,
body a.button,
#container a.button,
#container a.delete-value,
#container div > a.addoption{
	margin:4px 0;
	cursor:pointer;
	border: 1px solid #e1e3e6;
	display:inline-block;
	vertical-align:top;
	padding:0 12px;
	font:14px/30px'ubunturegular', Verdana ,Arial ,Helvetica ,sans-serif;
	height:32px;
	color:#595959;
	text-decoration:none;
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition:border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
	-moz-transition:border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
	-ms-transition:border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
	-o-transition:border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
	transition: border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
}
#container a.delete-value,
#container div > a.addoption {
	font:14px/20px'ubunturegular', Verdana ,Arial ,Helvetica ,sans-serif;
	height:20px;
	margin-left:14px;
}
#container div > a.addoption {margin-left:0;}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
body a.button:hover,
#container a.button:hover,
#container a.delete-value:hover,
#container .addoption:hover {
	border-color:#595959;
	background:#595959;
	color:#fff;
}
.load-more {
	position:absolute;
	top:0px;
	left:50%;
	margin:5px 0 0 -82px;
}
.blue-button {
	background:#00b9fd;
	float:right;
	color:#fff;
}
.blue-button:hover {background:#595959;}

#contentwrapper table tr td img {
	/*display:block;*/
	margin:0 auto;
}
/* castom select */
select {width:400px;}
.selectOptions .custom-scroll {height:380px;}
#sortProducts div.formElement select{width:250px;}
.outtaHere {display:none;}
.selectArea {
	position:relative;
	padding:0 0 0 4px;
}
.selectArea:after,
.multi .miuli-button:after {
	content:"";
	display:block;
	clear:both;
}
.multi {
	overflow:hidden;
	width:200px;
}
.selectButton,
.multi .miuli-button {
	position:relative;
	width:100%;
	z-index:1;
	display:block;
	text-decoration:none;
	padding:0 !important;
}
.selectButton .center,
.multi .miuli-button > input{
	background:#fff;
	display:block;
	z-index:2;
	padding:0 14px;
	height:35px;
	color:#595959;
	font-size:14px;
	line-height:30px;
	height:30px;
	margin:4px 32px 4px 4px;
	border: 1px solid #e1e3e6;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-box-shadow: #fff 0 0 0;
	-moz-box-shadow:#fff 0 0 0;
	box-shadow:#fff 0 0 0;
	text-align:left !important;
}
.selectButton .center {margin:4px 32px 4px -4px;}
.multi .miuli-button > input {width:134px;}
.hover .center,
.selectArea:hover .center,
.multi .miuli-button:hover > input{
	border-color:#77baed;
	-webkit-box-shadow: #77baed 0 0 4px;
	-moz-box-shadow:#77baed 0 0 4px;
	box-shadow:#77baed 0 0 4px;
	color:#e1e3e6;
}
.selectButton .right,
.multi .miuli-button .right-button {
	position:absolute;
	overflow:hidden;
	top:0px;
	text-decoration:none;
	z-index:20;
	right:0;
	width:32px;
	height:32px;
	position:absolute;
	right:0px;
}
.multi .miuli-button .right-button {top:4px;}
.selectButton .right span,
.multi .miuli-button .right-button span{
	background: url(/templates/admin/new/images/backgrounds/bg-bytton-select.png) no-repeat 100% -32px;
	width:32px;
	height:32px;
	position:absolute;
	top:0px;
	left:0px;
	opacity:0;
	z-index:1;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.multi .miuli-button .right-button,
.multi .miuli-button .right-button span {width:100%;}
.selectButton .right span:first-child,
.multi .miuli-button .right-button span:first-child {background-position:100% 0;}
.selectButton .right span:first-child,
.selectArea:hover .right:hover span,
.selectArea:hover .right span,
.multi .miuli-button .right-button span:first-child,
.multi .miuli-button:hover .right-button span{
	opacity:1;
	z-index:10;
}
.selectButton .right:hover span:first-child,
.selectArea:hover .right span:first-child,
.multi .miuli-button:hover .right-button span:first-child{
	opacity:0;
	z-index:1;
}
.selectButton .center:hover,
.selectButton .right:hover,
.selectArea:hover .right span,
.selectArea:hover .center span {text-decoration:none;}
.selectOptions,
.drop-multi {
	z-index:1005;
	position:absolute;
	top:0px;
	right:4px;
	margin:-4px 0 0 4px;
	border: 1px solid #e1e3e6;
}
.selectOptions {margin:-4px 0 -4px 0;}
.drop-multi {right:2px;}
.drop-multi {width:194px !important;}
.drop-multi {
	height:380px;
	overflow:hidden;
	top:-99999px;
	left:-99999px;
}
.selectOptions {background:#fff;}
.selectOptions ul,
.drop-multi ul {
	overflow:hidden;
	margin:0 10px 0 0;
	padding:0;
	list-style:none;
	position:relative;
	background:#fff;
	width:100%;
}
.selectOptions ul li,
.drop-multi ul li {
	padding:0;
	margin:0;
	background:none;
}
.selectOptions ul li a,
.drop-multi ul li a {
	font-size:13px;
	line-height:17px;
	color:#000;
	padding:4px 14px;
	text-decoration:none;
	display:block;
}
.selectOptions ul li a:hover,
.drop-multi ul li a:hover,
.drop-multi ul li a.level1:hover,
.selectOptions ul li a.level1:hover,
.select2-results li.level1:hover{
	background:#d6d8db;
	text-decoration:none;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}
.drop-multi ul li a.level1,
.selectOptions ul li a.level1,
.select2-results li.level1
{
	font-weight:bold;
	background:#f1f1f2;
}
.drop-multi ul li.active a,
.selectOptions ul li.active a{
	background:#1d2029;
	color:#fff;
}
.drop-multi ul li.active a:hover,
.selectOptions ul l.active a:hover {
	background:#34363c;
}
.sel-link {
	overflow:hidden;
	width:12px;
	height:12px;
	position:relative;
}
.select-all,
.deselect-all{
	position:absolute;
	top:0px;
	left:0px;
	width:12px;
	height:12px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(/templates/admin/new/images/backgrounds/bg-sel.gif) no-repeat 0 0 !important;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-size:0px;
	line-height:0px;
}
.select-all {background-position:0 -12px;}
.left {
	float:left;
	margin-right:10px !important;
}
.right {
	float:right;
	margin-left:10px !important;
}
.hold-left .selectArea {
	float:left;
	margin:0 10px 0 0;
}
.bottom20 {margin-bottom:20px !important;}
.wrap {
	width:100%;
	overflow:hidden;
}
.form:after {
	content:"";
	display:block;
	clear:both;
}
/* forma */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	font:14px/30px "ubunturegular",Verdana,Arial,Helvetica,sans-serif;
	padding: 0 15px;
	margin:4px;
	border: 0;
	background: #fff;
	outline: 0;
	color:#595959;
	border: 1px solid #e1e3e6;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-box-shadow: #fff 0 0 0;
	-moz-box-shadow:#fff 0 0 0;
	box-shadow:#fff 0 0 0;
}
.storeForm textarea {
	width:495px;
	min-width:495px;
	max-width:495px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color:#77baed;
	-webkit-box-shadow: #77baed 0 0 4px;
	-moz-box-shadow:#77baed 0 0 4px;
	box-shadow:#77baed 0 0 4px;
	/*color:#e1e3e6;*/
}
label {margin:0 0 0 4px;}
.holder-table {margin:0 0 0 4px;}
div.formBlockHeader {
	color: #181b22 !important;
	font: 20px/24px "Lato Light","Trebuchet MS",Tahoma,Verdana !important;
}
div.formBlock {border-color:#e9eaed;}
.damnupload-files-drop-target {
	border-color:#e1e3e6 !important;
	width:529px !important;
}
.modal .damnupload-files-drop-target {
	margin: 0 0 0 4px;
    width: 524px !important
}
.damnupload-progress {border-color:#e1e3e6 !important;}
.damnupload-progress span.legend {
	background:#fafbfa !important;
	color:#181b22 !important;
}
#tooltip {
	background-color:#181b22 !important;
	border-color:#181b22 !important;
	color:#fff !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
}
/* footer */
#footer {
	height:32px;
	border:0;
	width:100%;
	overflow:hidden;
	padding:0;
	background:none;
	margin:-32px 0 0;
}
#footer .in {
	margin:0 0 0 320px;
	overflow:hidden;
	border-top: 1px solid #e5e5e5;
	padding:8px 23px;
	height:20px;
}
#footer .list-footer {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	font-size:12px;
	line-height:14px;
	color:#5b5d63;
}
#footer .list-footer li {
	background: url(/templates/admin/new/images/backgrounds/bull.gif) no-repeat 0 50%;
	padding:0 8px;
	display:inline-block;
	vertical-align:top;
}
#footer .list-footer li:first-child {background:none;}
#container .number-page {
	overflow:hidden;
	padding:10px 0;
	margin:15px 0 25px;
	border-top: 1px solid #e1e3e6;
	border-bottom: 1px solid #e1e3e6;
}
#container .number-page li {
	float:left;
	padding:0;
	margin:0;
	border:0;
}
#container .number-page .link-prev{margin:0 20px 0 4px;}
#container .number-page .link-next{margin:0 0 0 20px;}
#container .number-page a,
#container .number-page .active a {
	float:left;
	color:#595959;
	text-decoration:none;
	margin:0 5px;
	background:#f5f7fa;
	border: 1px solid #e1e3e6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px 10px;
	-webkit-transition:border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
	-moz-transition:border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
	-ms-transition:border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
	-o-transition:border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
	transition: border-color .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
}
#container .number-page span {
	display:block;
	padding:10px 10px 0;
	margin:0 5px;
}
#container .number-page a:hover {
	border-color:#595959;
	background:#595959;
	color:#fff;
}
#container .number-page .active a {background:#fff;}
.error {padding:10px 0 0 2px;}
div.formElement.CheckBox .formElementLabel {padding:0 0 0 25px;}
.file-block label {
	padding:0 0 0 25px;
	position:relative;
	display:block;
}
div.formElement.CheckBox input[type="checkbox"],
.file-block label .delete{
	position:absolute;
	top:0px;
	left:4px;
}
#sortProducts {overflow-x:auto;}
.damnupload-files-drop-target {
	width:600px;
}
.thumbCropDialogActivator {
	display:inline-block;
	vertical-align:top;
	margin:0 0 5px;
}
#container table a.addoption {
	padding:0;
	margin:0;
	border:0;
	background:none;
}
.custom-scroll{
	overflow:hidden;
	background:#fff;
	width:100%;
	height:200px;
}
.scroll-content {width:100%;}
.custom-scroll .scroll-bar {background:#f0f0f0;}
.custom-scroll .scroll-up {
	width:100%;
	height:17px;
	background:#f0f0f0 url(/templates/admin/new/images/backgrounds/bg-n-p.png) no-repeat 0 0;
}
.custom-scroll .scroll-down {
	width:100%;
	height:17px;
	background:#f0f0f0 url(/templates/admin/new/images/backgrounds/bg-n-p.png) no-repeat 0 -17px;
}
.custom-scroll .scroll-line {background:#f5f7fa;}
.custom-scroll .scroll-slider {background-color:#e3e5e7;}
.custom-scroll .scroll-slider:hover,
.custom-scroll .scroll-up:hover,
.custom-scroll .scroll-down:hover {background-color:#cdcdcd;}
.custom-scroll .scroll-up,
.custom-scroll .scroll-down,
.custom-scroll .scroll-slider {
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.sel{
	position:absolute;
	top:-9999px;
	left:-9999px;
}
span.strong{
	font-weight: bold;
}
td .blue-button  {
	float:left;
	margin-left:15px;
	padding:0 42px;
}

#contentwrapper table tfoot tr.last .selectArea{
	display: inline-block;
	float: none;
}

#sortProducts table div.cat {
	border: 1px solid #0080ff;
	border-radius: 15px;
	padding: 1px 15px;
	background: #f5f7fa;
	font-size: 12px;
	line-height: 12px;
}

#content ul.select2-choices{
	border: 1px solid #aaa;
	margin: 0;
	padding: 0 5px 0 0;
}
#content .select2-choices .select2-search-choice {
    background-image: linear-gradient(to top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-position: left top;
    background-repeat: no-repeat;
    border-bottom: none;
    list-style: none;
    margin: 3px 0 3px 5px;
    padding: 3px 5px 3px 18px;
}
#content .select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    background: none;
    border: none;
    list-style: outside none none;
}
#content ul.select2-choices li.select2-search-choice a{
	padding: 0;
}

#content .select2-container ul{
	/*background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);*/
	background: url("/publicLibs/jQuery/select2/select2.png") no-repeat scroll 100% -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#content .select2-container.select2-dropdown-open ul{
	/*background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);*/
	background: url("/publicLibs/jQuery/select2/select2.png") no-repeat scroll 100% -22px, linear-gradient(to bottom, #fff 0%, #eee 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#container .select2-container a {
	color: #666666;
	font-weight: bold;
}
#contentwrapper .ui-jqgrid .ui-pg-table tr:hover td,
#contentwrapper .ui-jqgrid .ui-pg-table tr:hover td,
#contentwrapper .ui-jqgrid .ui-pg-table tr.odd:hover td,
#contentwrapper .ui-jqgrid .ui-pg-table tr td,
#contentwrapper .ui-pg-table tr td ,
#contentwrapper .ui-jqgrid-btable tr td,
#contentwrapper .ui-jqgrid-btable tr:hover td,
.ui-jqgrid tr.ui-row-ltr td,
#contentwrapper .ui-jqgrid tr.ui-row-ltr td {background:none !important;}
.nicEditorToggler{
   /*background-image: url("/templates/admin/new/images/buttonClear.png");*/
   background: url("/templates/admin/new/images/buttonClear.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    display: block;
    font-size: 15px;
    height: 44px;
    line-height: 2;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 199px;
}
