#pagesList .item {float: left; display: block;}
#pagesList ul li {background-image: none; border: none; padding: 0; margin: 0;}
#pagesList ul {border: 0; margin: 0;}
#pagesList li.row {height: 25px; border-top: 1px solid #ccc; padding: 5px 0 0;}
#pagesList li.row.checked {background-color: #a9e558}
#pagesList li.row.hover {background-color: #bef574}

#pagesList .caption {}

.leftControlsContainer {float: left; width: 47px;}

.rightControlsContainer {float: right; width: 80px; display: none;}

.captionContainer {float: left; width: 80%; cursor:pointer;}

#pagesList .edit,
#pagesList .clone,
#pagesList .delete {float: right; cursor: pointer;}

#pagesList .checkbox {width: 20px; text-align: center;}
#pagesList .arrows {width: 25px; text-align: center;}
#pagesList .arrows img {cursor: move;}

#pagesList .edit {width: 25px; text-align: center;}
#pagesList .clone {width: 25px; text-align: center;}
#pagesList .delete {width: 25px; text-align: center;}

.toggleArrow {width: 16px; display: inline-block; text-align: center;}
.toggleArrow img {cursor: pointer}

.row.placeholder {background-color: #f8f1cc; border: 1px solid #fcefa1 !important;}