.profile_row{
    width: 100%;
    float: left;
    margin: 0 0 15px 0;
}
.profile_rowLeft{
    width: 200px;
    float: left;
    font-weight: bold;
    text-align: right;
    margin: 0 10px 0 0;
}
.profile_rowRight{
    float: left;
}

.dynamicSpecialities input, .dynamicPositions input, .dynamicConferences input{
	width: 380px;
	margin: 3px 0;
}
.dynamicSpecialities_table, .dynamicPositions_table, .dynamicConferences_table{
    width: 380px;
    color: #000;
}
