/*
    Document   : store.css
    Created on : 20.06.2013, 10:16:58
    Version    : 1.01a
    Author     : Ivkov Eugene
    Description:
        Каскадная таблица стилей для контрольной панели магазина.
*/


/* checkbo */
.checkboxArea,
.checkboxAreaChecked {
	border:0;
	background: url(/templates/admin/new/images/active0.png) no-repeat 0 0;
	width:16px;
	height:16px;
	position:relative;
	overflow:hidden;
	margin:0;
	float:left;
	overflow:hidden;
}
.checkboxAreaChecked  {
	background: url(/templates/admin/new/images/active1.png) no-repeat 0 0;
}
.outtaHere {
	position:absolute;
	left:-9999px;
}
form .hold-checkbox {
	position:relative;
	overflow:hidden;
	margin: 0 20px;
}
form .hold-checkbox label {
	color:#9d1c2f;
	float:left;
	overflow:hidden;
	width:200px;
	font-size:14px;
	line-height:16px;
	margin:0 0 0 7px;
}

#sidebar ul li.active{
    background: none;
}
#sidebar ul li.active > a{
    font-weight: bold;
}

label.error{
    margin-left: 10px;
    font-weight: bold;
    color: red;
}
#addProduct div.formBlockHeader {
    margin: 0 0 5px;
	cursor: pointer;
}
#isPaid {
	cursor: pointer;
	text-decoration: underline;
}
#isPaid.paid {
	color: green;
}
#isPaid.not-paid {
	color: red;
}

/* modal */
.modal {
	padding:12px 14px 13px 13px;
	position:absolute;
	overflow:hidden;
	top:-9999px;
	left:-9999px;
	z-index:1000;
	background:#fff;
	border:1px solid #b0b6c0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*#content .modal {
	position:relative;
	overflow:hidden;
	top:0;
	left:0;
	border:0;
}*/
.modal .close {
	background: url(/images/icons/cross.png) no-repeat 0 0;
	width:19px;
	height:15px;
	overflow:hidden;
	text-indent:-9999px;
	position:absolute;
	top:12px;
	right:13px;
	z-index:100;
}
.modal h2 {
	margin:0 0 20px;
	font-size:16px;
	line-height:18px;
	font-weight:normal;
}
.modal h3 {
	margin:0 0 15px;
	font-size:16px;
	line-height:18px;
	padding:0 0 5px;
	font-weight:normal;
	border-bottom:1px solid #d1d4da;
}
/* 08.11.14 start */
dl {margin: 0;}
dl dt {display: inline;}
dl dd {
	display: inline;
	margin: 0;
}
.param dl,
.holder-form-item dl {
	position:relative;
	overflow:hidden;
	margin:0 0 8px;
	color:#7f8c8d;
	font:14px/16px 'pf_dindisplay_prolight',arial, helvetica, sans-serif;
}
.holder-form-item .line-top dl {
	line-height:38px;
	float:left;
	width:auto;
}
.holder-form-item .line-top dl dd {
	width:80px;
	margin:0 8px 0 3px;
}
.holder-form-item input[type="text"]{width:53px;}
.holder-form-item .text {
	float:left;
	padding:1px 0 0;
}
.param dl dt,
.holder-form-item  dl dt {float:left;}
.param dl dd,
.holder-form-item  dl dd {
	float:left;
	margin:0 0 0 5px;
	color:#000;
	font-family:'pf_dindisplay_promedium',arial, helvetica, sans-serif;
}
.holder-form-item .line-top .item-dl {
	position:relative;
	overflow:hidden;
	margin:1px 0 0;
	color:#000;
	float:left;
	width:auto;
}
.holder-form-item .line-top .item-dl dt {
	float:left;
	font: 14px/43px 'latoitalic', arial, helvetica, sans-serif;
}
.holder-form-item .line-top .item-dl dd,
.holder-form-item .line-top .item-dl input[type="text"] {
	float:left;
	width:60px;
	margin:0 10px 0 5px;
	font: 14px/43px 'latoblack', arial, helvetica, sans-serif;
	height:43px;
	border:none;
	padding:0;
	color:#000;
}

.casing:after {
	content:"";
	display:block;
	clear:both;
}
.casing{
	margin:0;
	padding:15px 0 13px;
	border-bottom:2px solid #f2f2f2;
}
#content.office .wrap{width:100%;}
.casing .hold-date,
.casing .hold-delete,
.casing .addcart,
.casing .hold-color,
.casing .hold-amount,
.casing .hold-price,
.casing .article,
.casing .param,
.casing .hold-request{
	float:left;
	padding:5px 0 0;
}
.casing .article{
	width:40%;
}
.casing .param{
	width:20%;
	padding:6px 0 0;
}
.casing .hold-price{
	width:10%;
	padding:6px 0 0;
}
.casing .hold-date{width:20%;}
.casing .hold-amount{
	width:10%;
	padding:9px 0 0;
}
.article .art{font: 14px/20px "latoitalic", arial, helvetica, sans-serif;}
.article a{
	font: 14px/20px 'pf_dindisplay_proregular', arial, helvetica, sans-serif;
	display:block;
}
.casing .param dl{
	line-height:20px;
	margin:0;
}
.casing .hold-price .price{font: 14px/20px 'pf_dindisplay_promedium',arial, helvetica, sans-serif;}
.casing .hold-amount input[type="text"]{
	width:34%;
	padding:0 6% 0 8%;
	text-align:right;
	font: 20px/22px 'pf_dindisplay_probold', arial, helvetica, sans-serif;
	color:#ced2d5;
}
.addcart{
	width: 10%
}
.casing-title{
	overflow:hidden;
	width:100%;
}
.sum-title{
	width: 10%
}

.order-title,
.price-title,
.count-title,
.color-title,
.sum-title{
	color:#7f8c8d;
	font: 14px/16px 'pf_dindisplay_prolight', arial, helvetica, sans-serif;
	float:left;
}
.order-title{width:70%;}
.price-title{width:10%;}
.count-title{width:10%;}
.hold-basket .casing{
	padding:15px 0 0;
}
.total-amount{
	overflow:hidden;
	width:98%;
	border-bottom:2px solid #77da29;
	padding:46px 1% 56px;
	margin:0 0 20px;
}
.total-index{
	float:right;
	overflow:hidden;
	width:45%;
}
.total-index .total-sum{
	font-size:14px;
	line-height:16px;
	float:left;
	margin:14px 20px 0 0;
	font-weight:normal;
}
.sum{
	float:left;
	font:20px/22px 'pf_dindisplay_probold', arial, helvetica, sans-serif;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	text-align:center;
	padding:11px 37px 9px 40px;
}
#content .hold-basket h2{
	font: 26px/28px 'latoregular', arial, helvetica, sans-serif;
	color:#0054a4;
	margin:0 0 7px;
}
.note{
	font:14px/17px 'pf_dindisplay_prolight', arial, helvetica, sans-serif;
	color:#7f8c8d;
	display:inline-block;
	vertical-align:top;
	margin:0 0 10px;
}
.casing .hold-price,
.casing .hold-amount,
.casing .addcart,
.casing-title .price-title,
.casing-title .count-title,
.casing-title .sum-title{
	text-align: right;
}
 .hold-icon {
    float: left;
    margin: 7px 0px 0 0px;
    text-align: center;
    width: 10%;

 }

 .total-amount {
	 border-bottom: 2px solid #77da29;
	 margin: 0 0 20px;
	 overflow: hidden;
	 padding: 46px 1% 56px;
	 width: 98%;
 }

 .total-index {
	 float: right;
	 overflow: hidden;
	 width: 45%;
 }

 .total-index .total-sum {
	 float: left;
	 font-size: 14px;
	 font-weight: normal;
	 line-height: 16px;
	 margin: 14px 20px 0 0;
 }

 .param dl{
	 font-size: 75%;
 }
 .casing-title{
	 border-top: 2px solid #77da29;
	 padding-top: 5px;
 }