/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22.10.2013, 14:38:14
    Author     : Prog
*/

/* TABS */
#content .tabs-area {
	overflow:hidden;
	position:relative;
	margin:0 0 27px;
}
#content .tabs-area .holder-top {
	overflow:hidden;
	position:relative;
	margin:0 0 14px;
}
#content .tabset {
	margin: 0 0 20px;
	padding: 0;
	overflow: hidden;
/*	float:left;*/
	position:relative;
	z-index:100;
	border:0;
	background: url(/templates/admin/new/images/backgrounds/bg-new-line.gif) repeat-x 0 100%;
}
#content .tabset li {
	list-style: none;
	background-image: none;
	float:left;
	margin:0;
	padding:0;
	border:0;
}
#content .tabset li a {
	float: left;
    font-size: 18px;
    height: 40px;
    line-height: 38px;
    padding: 0 15px;
	background:#f5f7fa;
	color:#5b5d63;
	text-align:center;
	text-decoration:none;
	border: 1px solid #e9eaed;
	-webkit-transition: background .2s ease-in-out, border-bottom-color .2s ease-in-out, color .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border-bottom-color .2s ease-in-out, color .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border-bottom-color .2s ease-in-out, color .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border-bottom-color .2s ease-in-out, color .2s ease-in-out;
	transition: background .2s ease-in-out, border-bottom-color .2s ease-in-out, color .2s ease-in-out;
}
#content .tabset li a:hover {
	background:#181b22;
	color:#fff;
}
#content .tabset li a.active {
	background:#fff;
	border-bottom-color:#fff;
	color:#5b5d63;
	cursor:default;
}
#content .tabset li:first-child a {
	-webkit-border-radius: 8px 0 0 0;
	-moz-border-radius: 8px 0 0 0;
	border-radius: 8px 0 0 0;
}
#content .tabset li:last-child a {
	-webkit-border-radius: 0 8px 0 0;
	-moz-border-radius: 0 8px 0 0;
	border-radius: 0 8px 0 0;
}
/*.tabset li a.active {display:none;}*/
#content .tab-content {
	margin:0 0 20px;
	position:absolute;
	top:-99999px;
	left:-999999px;
	padding:20px 0 0;
}