.aboutblock
{
    background-color: #f2f8fa;
}
.aboutblock__wrapper
{
    display: flex;
    padding: 60px 0;

    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px)
    {
        padding: 37px 0 26px;
        align-items:flex-start;
    }
    @media (max-width: 426px)
    {
       padding: 37px 0 16px;
        
    }
}

.aboutblock__title--desktop{
    @media (max-width:768px){
    display:none;
}
}
.aboutblock__title
{
    text-align: left;
}
.aboutblock__title.aboutblock__title--tablet{
    display:none;
    @media (max-width:768px){
    display:block;
    text-align:center;
    padding:27px 0 0;
}
}
.aboutblock__text
{
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;

    color: #242424;
    @media (max-width: 768px)
    {
        font-size: 16px;
        line-height: 18px;
        margin-top:0; 
    }
      @media (max-width: 426px)
    {
        font-size: 14px;
        
    }
}


.aboutblock__left,
.aboutblock__right
{
    width: 572px;
    // width:48%;
    @media (max-width: 1024px)
    {
        width: 48%;
    }
    @media (max-width: 426px)
    {
        width: 100%;
    }
}

.aboutblock__left
{
   
    @media (max-width: 768px)
    {
        height: 238px;
    }
    @media (max-width: 426px)
    {
        height: 212px;
        width:330px;  
        margin:0 auto; 
        //order: 2;
    }
}


// .aboutblock__left iframe
// {
//     @media (max-width: 768px)
//     {
//         height: 220px;
//     }
//     @media (max-width: 426px)
//     {
//         height: 320px;
//     }
// }

.aboutblock__right
{
    padding-left: 20px;
    @media (max-width: 768px)
    {
        margin-top: 0px;
        padding-left: 30px;
        padding-right:30px;
        box-sizing:border-box;
    }
     @media (max-width: 426px)
    {
       padding: 31px 5px 0 5px;
        padding-right:5px;
        text-align:center;
    }
}

.aboutblock__button
{
    margin-top: 25px;
    @media (max-width: 768px)
    {
        margin-top: 0;
        margin-bottom: 20px;
        margin-left:-140px;
    }
     @media (max-width: 426px)
    {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left:0px;
    }
}
.video__mask
{
   
  

    display: block;
    width: 100%;
    height: 366px;
   cursor:pointer;
  position:relative;
    // background-image: url(../img/video__mask.png);
    // background-repeat: no-repeat;
    &:before{
        content:'';
        display: block;
        position:absolute;
        z-index: 2;
        width:134px;
        height:134px;
        background-image:url(../img/icon__play.png);
        top:50%;
        margin-top: -67px;
        left:50%;
        border-radius:100px;
        margin-left:-67px;
       @media (max-width: 768px){
    height:102px;
    width:102px;
    background-size:cover;
    margin-top: -51px;
    margin-left:-51px;
} 
} 
@media (max-width: 768px){
    height:238px;
    background-size:cover;
    border-radius:5px;
} 
@media (max-width: 426px){
    height:212px;
 
}   
}
.video__mask img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    @media (max-width: 1025px){
     top:20px;   
    }
    @media (max-width: 426px){
     top:0px;   
    }
}
.video__mask:hover:before{
transform: scale(1.2)
           
}
.video__mask:active:before{
transform: scale(1)
           
}

#if{
    width:800px;
     height:600px;
    @media(max-width: 768px){
        width:500px;
        height:350px;
    }
     @media(max-width: 426px){
        width:320px;
        
        height:250px; 
    }
}