.blue-block
{
    background-color: #46c8d3;
}
.blue-block__wrapper
{
    position: relative;

    display: flex;
    padding: 43px 0 ;

    align-items: center;
    // &:before
    // {
    //     position: absolute;
    //     // display:block;

    //     width: 144px;
    //     height: 206px;

    //     opacity: .5;
    //     background-image: url(../img/tooth.png);

    //     content: '';
    //     @media (max-width:1025px)
    //     {
    //         content: none;
    //     }
    // }
    @media (max-width:1025px)
    {
        flex-direction: column;
        padding: 43px 0;
    }
}


.blue-block2 .psevdo-wrap
{
    margin-right: 65px;
    margin-left: 54px;

    @media (max-width:1025px)
    {
        margin: 0px 0 30px 0px;
    }
}

.psevdo-wrap
{
    z-index: 1;
   position:relative;
    margin-right: 20px;
    margin-left: 54px;

    flex-shrink: 0;
    @media (max-width:1025px)
    {
        margin:  0px 0 30px 0px;
    }
}
.psevdo-wrap img{
    position:absolute;
    z-index:2;
    top:-60px;
    left:-40px;
    @media (max-width: 1025px){
        display:none;
    }
}
.blue__right-block
{
    display: flex;
    margin-right: 80px;
    padding: 29px 60px 47px 47px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 27px rgba(192, 193, 193, .38);

    align-items: flex-end;
    @media (max-width:1025px)
    {
        margin-right:0;
        padding: 19px 30px 27px 30px;

        align-items: center;
    }
    @media (max-width:768px)
    {
        margin-right: 20px;
        margin-left:20px;
    }
    @media (max-width:600px)
    {
        flex-direction: column;
        padding: 19px 10px 27px 10px;

        align-items: center;
    }
}

.blue__right-block img
{
    margin-right: 50px;
    @media (max-width:1024px)
    {
        width: 140px;
        height: 140px;
    }
    @media (max-width:768px)
    {
        margin-right: 20px;
    }
    @media (max-width:426px)
    {
        margin-right: 0;
    }
}

.blue__right-block p
{
    font-size: 17px;
    line-height: 24px;

    color: #242424;
    @media (max-width:600px)
    {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
}
.blue-block__doctors .blue__right-block p{
   @media (max-width:600px)
    {
        
        text-align: left;
    }  
}
.blue__left-block
{
    font-size: 32px;
    font-weight: 500;
line-height:40px;
    color: #fff;
    position:relative;
    z-index:3;
    /* Style for "Боитесь?" */
    background-color: #46c8d3;
    @media(max-width:600px )
    {
        font-size: 28px;
    }
}

.blue__link-wrapper
{
    display: flex;

    align-items: flex-end;
    @media(max-width:600px)
    {
        flex-wrap: wrap;
        justify-content: center;
    }
      @media(max-width:376px)
    {
       justify-content: center;
    }
}

.blue__link-number
{
    position: relative;

    margin-right: 15px;
    padding-left: 48px;
    &:before
    {
        position: absolute;
        bottom: -10px;
        left: -15px;

        display: block;
        width: 54px;
        height: 48px;

        background-image: url(../img/icon_tel.png);

        content: '';
    }
    @media(max-width:600px )
    {
        margin-bottom: 0px;
    }
     @media(max-width:426px )
    {
        margin-bottom: 20px;
    }
}

.blue__link-number a
{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

    color: #000;
    &:hover
    {
        color: #46c8d3;
    }
}

.blue__link-number p
{
    margin-top: 0;

    font-size: 14px;
}
.blue__button a
{
    padding: 15px 25px 15px;
    @media (max-width: 768px)
    {
        padding: 10px 15px 10px;

        font-size: 16px;
    }
}

#doctors .blue__right-block .blue__right-block-img
{
    display: flex;
    flex-direction: column;
    margin-right: 50px;

    align-items: center;
    flex-shrink: 0;

    @media (max-width:768px)
    {
        margin-right: 20px;
    }
    @media (max-width:426px)
    {
        margin-right: 0;
    }
}
#doctors .blue__right-block img
{
    margin: 0;
}
#doctors .blue__right-block-img p
{
    margin-bottom: 5px;

    font-size: 17px;
    line-height: 20px;
}
#doctors .blue__right-block-img span
{
    display: block;

    font-size: 14px;
}
#doctors .blue__right-block
{
    align-items: center;
}

#doctors .psevdo-wrap
{
    margin-left: 0;
}


.blue__text-contacts .form__name{
    width:50%;
       @media (max-width: 426px){
        width:100%;
    }
}
.blue__text-contacts.blue__right-block{
    margin-right:140px; 
    @media (max-width: 1025px){
        margin-right: 0;
    }
     @media (max-width: 426px){
        margin: 0 7px;
    }
     @media (max-width: 320px){
        width:280px;
    }
}
// .blue__text-contacts.blue__right-block form{
//     @media (max-width: 320px){
//         width:90%;
//         margin:0 auto;
//     }
// }
.blue__text-contacts.blue__right-block form{
  @media (max-width: 320px){
        width:280px;
    }  
}
#appointment .form__wrap-contacts .form__checkbox label
{
     @media (max-width: 426px){
text-align:center;

      margin-bottom: 20px;
    }
  @media (max-width: 320px){

      width:280px;

    }    
}