.breadcrumbs
{
    display: flex;
    margin-top: 0;
    padding: 0;

    list-style: none;
}
.breadcrumbs li
{
    margin: 0;
    padding: 0;
}
.breadcrumbs li a
{
    font-size: 14px;
    text-decoration: none;

    color: #000;
    &:hover
    {
        text-decoration: underline;

        color: #9ef1f8;
    }
    @media (max-width: 426px)
    {
        font-size: 12px;
    }
}
.current-link
{
    font-weight: 400;
}
