.button
{
    display: inline-block;
    padding: 15px 45px 18px 27px;
    position:relative;
    font-size: 20px;
    text-decoration: none;

    cursor: pointer;
    @media (max-width: 768px)
    {
        //padding: 10px 20px 13px;

        font-size: 20px;
    }
    @media (max-width: 426px)
    {
        //padding: 10px 20px 13px;

        //font-size: 12px;
    }
   
}
.button--pink{
     color: #fff;
    border-radius: 32px;
   background-color: #f195ad;
    background-image: url(../img/pink-shadow.png);
    background-repeat: no-repeat;
    box-shadow: 0 5px 17px 0 rgba(241,149,173,.35);
     &:hover,&:active
    {
        box-shadow: 0 0 43px rgba(241,149,173,.4);
    } 
}
.button--blue
{
    display: inline-block;
    //padding: 19px 25px ;

    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    color: #fff;
    border-radius: 32px;
    background-color: #44c7d2;
    background-image: url(../img/blue-shadow.png);
  
    box-shadow: 0 5px 17px 0 rgba(68,199,210,.35);

    cursor: pointer;
    @media (max-width: 768px)
    {
        

        font-size: 20px;
    }
    &:hover, &:active
    {
        box-shadow: 0 0 43px rgba(68,199,210,.4);
    }
}
.button span{
    display:inline-block;
   right:15px;
   position:absolute;
   top:16px;
   @media(max-width: 768px){
    right:20px;
   }
}
 .button.button--transparent{
    font-size: 16px;
        color: #000;
    border: 1px solid #45c8d3;
    border-radius: 25px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    padding: 14px 45px 15px 27px;
    @media (max-width: 768px){
     font-size: 14px;    
     padding: 10px 35px 11px 27px;
    }
    &:hover{
        text-decoration:underline;
    }
 }

  .button--transparent span{
    top:14px;
     @media (max-width: 768px){
    top:10px;
    right:15px;
    }
  }