.content-wrapper
{
 // min-width: 320px;
    box-sizing: border-box;
    max-width: 1271px;
   // overflow-x: hidden;
    margin: 0 auto;
    padding-right: 5px!important;
    padding-left: 5px!important;
    @media (max-width:1024px)
    {
        max-width: 1024px;
        
    }

    @media (max-width:768px)
    {
        max-width: 768px;
        // overflow-x: hidden;
    }
    @media (max-width:426px)
    {
       max-width: 425px;
    }
    @media (max-width:320px)
    {
        max-width: 320px;
    }
}

.content-wrapper__slider{
    // min-width: 320px;
    box-sizing: border-box;
    max-width: 1271px;
   // overflow-x: hidden;
    margin: 0 auto;
    padding-right: 5px!important;
    padding-left: 5px!important;
    @media (max-width:1024px)
    {
        max-width: 1024px;
        
    }

    @media (max-width:768px)
    {
        max-width: 768px;
        // overflow-x: hidden;
    }
    @media (max-width:426px)
    {
       max-width: 425px;
    }
    @media (max-width:320px)
    {
        max-width: 320px;
    }
}

