.footer__up
{
    overflow: hidden;
    padding: 40px 0;

    background-color: #fff;
    background-image: linear-gradient(to top, #28a5af 0%, #41c6d1 100%);
    @media (max-width: 426px){
     
    padding: 20px 0;
    }
  
}
.footer__menu
{
    display: flex;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
     justify-content:space-between;
    list-style: none;
    flex-wrap: wrap;
    @media (max-width: 768px){
        margin:0 40px ;
        justify-content:space-between;
    }
     @media (max-width: 652px){
       
        justify-content:flex-start;
    }
      @media (max-width: 426px){
        margin:0 40px ;
        justify-content:space-between;
        flex-direction:column;
        align-items:center;
    }
}
.footer__menu a
{
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;

    color: #fff;
    &:hover
    {
        text-decoration: underline;
    }
     @media (max-width: 768px){
        font-size: 18px;    }
}
.footer__menu li:not(:last-child)
{
    // margin-right: 100px;
    @media (max-width: 1024px)
    {
        // margin-right: 50px;
    }
      @media (max-width: 768px)
    {
        margin-right: 50px;
    }
       @media (max-width: 426px)
    {
        margin-right:0;
        margin-bottom: 10px
    }
}
// .footer__menu li:first-child,
// .footer__menu li:nth-child(2),
// .footer__menu li:nth-child(5)
// {
//    @media (max-width: 426px)
//     {
//         margin-bottom:27px;
//     }   
//}
.footer__services
{
    display: flex;
    overflow: hidden;
 

    @media (max-width: 1025px){
        flex-wrap:wrap;
    }

    @media (max-width: 768px){
        display: none;
    }
}
.footer__block
{
    width: 20%;
   margin-right: 50px;
    @media (max-width: 1024px)
    {
        margin-right: 10%;
    }
}
// .footer__block:nth-child(1),
// .footer__block:nth-child(3),
// .footer__block:nth-child(6){
// margin-right:42px;
// }
// .footer__block:nth-child(6){
// margin-right:46px;
// }
// .footer__block:nth-child(2){
// 	margin-right: 24px
// }
// .footer__block:nth-child(4){
// 	margin-right: 34px
// }
// .footer__block:nth-child(5){
// 	margin-right: 30px
// }
.footer__block-list
{
    padding: 0;
}
.footer__block-list li
{
    margin-bottom: 10px;
    padding: 0;

    list-style: none;
}
.footer__block-title
{
    font-size: 16px;
    line-height: 20px;

    color: #ffe856;
}
.footer__block-list li a
{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;

    color: #fff;
    &:hover
    {
        text-decoration: underline;
    }
}
.footer__social
{     padding: 27px 0;
    display: flex;
    @media (max-width: 768px)
    {
        flex-direction: column;

        //align-items: center;
    }
}

.footer__right
{    display: flex;

    align-items: center;
    justify-content: center;
    flex-grow: 1;
      @media (max-width: 768px)
    {
       

        align-items: center;
    }
  
}
.footer__left
{     display:flex;
      align-items: center;
      @media (max-width: 768px)
    {
       margin-bottom:40px;
       justify-content:space-between;
     
    }
    @media (max-width: 652px)
    {
        margin-bottom:10px;
        flex-direction: column;
          align-items:flex-start;
       padding-left:30%;
    }
    }

// .footer__social-wrapper
// {
//     display: flex;

//     align-items: center;
//      @media (max-width: 768px)
//     {
    
//        justify-content:space-between;
//     }

// }
.footer__item
{
    position: relative;

    margin-right: 56px;
    padding-left: 57px;

    font-size: 16px;
    

    color: #000;
    &:before
    {
        position: absolute;
        top: -10px;
        left: 0;

        display: block;

        background-repeat: no-repeat;

        content: '';
        @media (max-width: 652px)
        {
            left: -50px;
        }
    }
    @media (max-width: 768px)
    {
      
        margin-right:0;  
        font-size: 16px;
        font-weight: 400;
    }
    @media (max-width: 652px)
    {
        margin-right: 0;
        margin-bottom: 30px;
        padding-left: 0;

    }
}
// .footer__address
// {
//     @media (max-width: 426px)
//     {
//         text-align: center;
//     }
// }
.footer__address:before
{
    top: 0;

    width: 45px;
    height: 48px;

    background-image: url(../img/icon_location_footer.png);
}
.footer__number:before
{
    width: 54px;
    height: 48px;
    
    background-image: url(../img/icon_tel.png);
     @media (max-width: 652px)
        {
            left: -55px;
        }
}
.footer__mail:before
{
    width: 45px;
    height: 48px;

    background-image: url(../img/icon_mail.png);
     @media (max-width: 652px)
        {
            left: -49px;
        }
}
.footer__item a
{
    font-size: 16px;
  
    text-decoration: none;

    color: #000;
  
    @media (max-width: 652px)
    {
        margin-right: 0;

        font-size: 16px;
       
    }
}


.footer__right a
{
    display: block;
    margin-left: 10px;
    &:hover
    {
        opacity: .8;
    }
    @media (max-width: 652px)
    {
        margin-right: 10px;
    }
}
