.form
{
    border: 1px solid transparent;
    background-color: #f2f8fa;
    position:relative;
    z-index:0;
    overflow:hidden;
   
}
.form img{
    position:absolute;
    z-index:1;
    top:0;

    @media (max-width: 425px){
        display:none;
    }
}

.form-wrapper
{
    box-sizing: border-box;
    max-width: 400px;
    margin: 64px 20px 61px auto ;
    margin-left: auto;
    padding: 10px;
     position:relative;
     z-index:2;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 43px rgba(0, 0, 0, .13);

    @media (max-width: 1024px)
    {
        margin: 64px auto  61px 20px ;
    }
     @media (max-width: 768px)
    {
       max-width:611px;
       margin:67px auto 87px;
    }
    @media (max-width: 426px)
    {
       max-width: 359px;
        margin: 40px auto  28px auto ;
    }
 
}
.form__fieldset
{
    padding: 43px 34px 34px 34px;

    border: 1px solid #dcdcdc;
    border-radius: 10px;

    @media (max-width: 426px)
    {
        padding: 43px 20px 20px 20px;
    }
    @media (max-width: 376px)
    {
        padding: 43px 10px 20px 10px;
    }
}
.form__title
{
    display: block;
    margin-bottom: 28px;

    font-size: 20px;
    font-weight: 400;
    text-align: center;
     @media (max-width: 768px)
    {
        font-size: 24px;
    }
    @media (max-width: 426px)
    {
        font-size: 20px;
    }
}
.form__list
{
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: space-between;
}
.form__list li
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form__list li label
{
    margin-bottom: 7px;

    font-size: 14px;
    @media (max-width: 426px)
    {
        font-size: 12px;
    }
}
.form__list li input
{
    box-sizing: border-box;
    height: 46px;
    margin-bottom: 12px;
    padding: 10px;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 23px;
    outline: none;
}
.form__message textarea
{
    margin-bottom: 26px;
    padding: 10px;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 23px;
    outline: none;

    resize: none;
    @media (max-width: 768px){
        border-radius: 10px;
        margin-bottom: 42px;
    }
    @media (max-width: 426px){
        
        margin-bottom: 20px;
    }
}
.form__list .form__mail,
.form__list .form__number
{
    width: 47%;
    @media(max-width: 426px){
        width:100%;
    }
}
.form__wrap{
    @media (max-width:768px){
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
     @media (max-width:426px){
       flex-direction: column;
    }
}
#appointment .form__checkbox
{
    
  display:flex;
    align-items: center;



}
#appointment .form__checkbox label
{
    position: relative;

    margin-bottom: 27px;
    padding-left: 41px;

    font-size: 12px;

    opacity: .55;
    color: #000;

    cursor: pointer;
  
      align-items:center;

    &:before
    {
        position: absolute;
        top: 50%;
        left: 0;
         margin-top: -15px;
        display: block;
        width: 31px;
        height: 31px;

        border: 1px solid #e8e8e8;
        border-radius: 6px;

        content: '';
        @media(max-width: 426px){
          left: 20px;  
        }
    }
      @media (max-width:768px){

     width:190px;
      padding-left:40px;
      box-sizing:border-box;
      margin:0;
    } 
     @media (max-width:426px){

     width:300px;
     margin-bottom: 20px;
     font-size: 10px;
     padding-left:60px;
}
}
#appointment .form__checkbox input
{
    display: none;
}
.form__checkbox input[type=checkbox]:checked + label:after
{
    position: absolute;
    top: 0;
    left: 10px;

    display: block;
    width: 16px;
    height: 17px;

    background-image: url(../img/v.png);
    background-repeat: no-repeat;

    content: '';
     @media (max-width:768px){

    top:5px;
    } 
    @media (max-width:426px){
    left:30px;
    top:0px;
    } 
}
#appointment .form__checkbox label a
{
    color: #1c8d97;
}
.form__submit-wrapper
{
    display: flex;

    justify-content: center;
}
.form__list li input:hover,
textarea:hover,
.form__list li input:focus,
textarea:focus
{
    // box-shadow: 0 0 7px rgba(53, 175, 192, .5);
    border: 1px solid #45c7d2;
    cursor: pointer;
}

.form__submit-wrapper input[type='submit']
{
    padding: 15px 25px 18px 25px;

    font-size: 20px;

    color: #fff;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #44c7d2;
    background-image: url(../img/blue-shadow.png);
    box-shadow: 0 5px 17px 0  rgba(68, 199, 210, .35);

    cursor: pointer;
    // @media (max-width: 426px)
    // {
    //     padding: 10px 20px 13px 20px;

    //     font-size: 16px;
    // }
    &:hover
    {
        border:none;
       box-shadow: 0 0 43px rgba(68,199,210,.35)
    }
}


.form__wrap.form__wrap-contacts{
    display:flex;
    justify-content: space-between
}

#appointment .form__wrap.form__wrap-contacts label{
    padding:0;
    margin:0;

color: #000000;
opacity:1;
font-size: 12px;
font-weight: 400;
&:before{
 content:none;
}
}

