.main-block
{
    z-index: -1;

    height: 711px;
    margin-top: -121px;
    background-color:#fff;
    background-image: url(../img/background1.png);
    background-repeat:repeat;
  
    @media (max-width: 768px)
    {
        background-repeat:no-repeat;
        height: 540px;
      //  overflow:hidden;
        margin-top: -101px;
    }
     @media (max-width: 426px)
    {
        height: 479px;
      //  overflow:hidden;
        margin-top: -101px;
        background-size:426px auto;
        background-position: left 0 bottom 0;
    }
}
.main-block__wrapper{
    position:relative;
    height:100%;
  overflow:visible;
    &:after
    {
        position: absolute;
        bottom: -47px;
        left: 50%;
z-index:4;
        display: block;
        width: 94px;
        height: 94px;
        margin-left: -47px;

        background-image: url(../img/mouse.png);
        background-repeat: no-repeat;

        content: '';
        @media (max-width: 426px){
           width: 60px;
        height: 60px;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -ms-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        margin-left: -30px; 
         bottom: -30px;  
        }
  }
}
.main-block__slider{
    height: 100%;
    position:relative;
}
.main-block__wrapper .sl-count__main
{
    position: absolute;
    bottom: 85px;
    left: 83px;

    font-size: 26px;

    color: #010101;
    @media (max-width: 768px)
    {
        bottom: 50px;
        left: 90px;

        font-size: 25px;
    }
    @media (max-width:426px)
    {
        bottom: 56px;
        left: 50%;
        margin-left:-20px;

        font-size: 20px;
    }
}
.main-block__wrapper  .slick-prev
{
    z-index: 2;
    // margin-top: 286px;
    top: 613px;
    left: 0;

    width: 40px;
    height: 40px;
    margin-left: 0;

    border-radius: 30px;
    background-color: #fff;
    @media (max-width: 768px)
    {
        top: 478px;
        margin-left: 20px;
        width: 52px;
        height: 52px;
    }
    @media (max-width: 426px)
    {
        top: 412px;
        width: 40px;
    height: 40px;
     left: 50%;
         margin-left:-85px;
    }
}
.main-block__wrapper  .slick-next
{
    // margin-top: 186px;
    z-index: 2;
    top: 613px;
    //right:45%;
    left: 160px;

    width: 40px;
    height: 40px;
    margin-right: -15px;

    border-radius: 30px;
    background-color: #fff;
    @media (max-width: 768px)
    {
        top: 478px;
        left: 95px;
margin-left:50px;
           width: 52px;
        height: 52px;
    }
    @media (max-width: 426px)
    {
        top: 412px;
        width: 40px;
         left: 50%;
         margin-left:40px;
    height: 40px;
    }
}
.main-block__wrapper  .slick-prev:hover,
.main-block__wrapper .slick-next:hover
{
    box-shadow: 0 0 43px rgba(0, 0, 0, .13);
}
.main-block__wrapper .slick-prev:before,
.main-block__wrapper .slick-next:before
{
    content: '';
}
.main-block__wrapper  .slick-prev:before
{
    position: relative;
    left: 15px;

    display: block;
    width: 8px;
    height: 8px;

    color: black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;

    content: '';
    transform: rotate(45deg);
    z-index:5;
    @media (max-width: 768px)
    {
        left: 21px;
    }
    @media (max-width: 426px)
    {
        left: 15px;
    }
}
.main-block__wrapper  .slick-next:before
{
    position: relative;
    right: -15px;

    display: block;
    width: 8px;
    height: 8px;

    color: black;
    border-top: 2px solid black;
    border-right: 2px solid black;

    content: '';
    transform: rotate(45deg);
    @media (max-width: 768px)
    {
        right: -21px;
    }
     @media (max-width: 426px)
    {
        right: -15px;
    }
}
.main-block__slide
{
    box-sizing: border-box;
    height: 711px;
    padding: 286px 0 0 0;
    position: absolute; 
    top:0;
    left:0;
    // width: 100%;
    // height:100%;
    
    @media (max-width: 768px)
    {
        height: 540px;
        padding: 200px 0 0 0;
    }
    @media (max-width: 426px)
    {
      height: 479px;
        padding: 123px 0 0 0;
         top:0;
 width:100%;
    }
}

.main-block__slider img {
    max-width:100%;
    height: auto;

@media (max-width: 768px)
    {
        
      width:70%;
    
    }
    @media (max-width: 426px)
    {
        
      width:75%;
    
    }
}
.main-block__slider .main-block__slide-img {
    max-width:100%;
    height:711px;
  display:flex;
  justify-content: flex-end;
  align-items:flex-end;

@media (max-width: 768px)
    {
        
        height: 540px;
    
    }
     @media (max-width: 426px)
    {
        height: 479px;
        justify-content: center;
    }
}

.main-block__slide p
{
    font-size: 42px;

    color: #000;
    @media (max-width: 1024px)
    {
        font-size: 30px;
    }
    @media (max-width: 768px)
    {
        font-size: 34px;
        padding-left:20px
    }
    @media (max-width: 426px)
    {
        font-size: 18px;
    }
    @media (max-width: 426px)
    {
        font-size: 24px;
        text-align:center;
    }
}
.main-block__button a
{
   // padding: 22px 25px;

    font-size: 20px;
    @media (max-width: 768px)
    {
        //padding: 14px 18px;

        font-size: 18px;
    }
   
}
.main-block__button{
 padding-left:20px ;
   @media (max-width: 426px)
    {
       text-align:center;
    } 
}
.main-block__button a span{
    top:16px;
    // @media (max-width: 768px){
    //     right:0px;
    // }
}
