.price-block
{
    background-color: #f2f8fa;
}
.price-block--white{
   background-color: #fff;  
}
.price-block__wrapper
{
    padding: 0 150px;
    @media (max-width: 768px)
    {
        padding: 0 20px;
    }
    @media (max-width: 426px)
    {
        padding: 0 5px;
    }
}
.price-block__title
{
    padding: 28px 0 50px;
      @media (max-width: 768px){
         padding: 28px 0;
    }
}
.price-block__table
{
    border-radius: 10px;

    border-spacing: 0 20px ;

}
.price-block__row-title
{
    border-spacing: 0 ;
    @media (max-width: 426px){
        display:none;
    }
}
.price-block__row
{
    margin-bottom: 20px;

    border-radius: 10px;
    background-color: #fff;
    /* Style for "Rounded Re" */
    box-shadow: 0 0 27px rgba(192, 193, 193, .38);
      @media (max-width: 426px){
        display:flex;
        flex-direction:column;
        border-left: 7px solid #2caeb9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:0 0 20px 20px;
    }
}


.price-block__column1
{
    padding: 43px 70px 43px 35px;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
    /* Style for "Лечение ка" */

    color: #2caeb9;
    border-left: 7px solid ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @media (max-width: 768px)
    {
        font-size: 20px;
        padding: 23px 20px 23px 15px;
    }
    @media (max-width: 426px)
    {
        padding: 13px 5px 13px 0px;

        font-size: 18px;
        line-height: 16px;
        white-space: normal;
        border:none;
    }
    @media (max-width: 376px)
    {
        padding: 13px 5px 13px 0px;

    
    }
}
.price-block__column2
{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    color: #242424;
    @media (max-width: 426px)
    {
        padding-right: 5px;

        font-size: 14px;
        line-height: 16px;
        white-space: normal;
        margin-bottom: 20px;
    }
    // @media (max-width: 376px)
    // {
    //     padding-right: 5px;

    //     font-size: 10px;
    //     line-height: 14px;
    //     white-space: normal;
    // }
}
.price-block__column3
{
    padding: 0 34px 0 0;

    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
    /* Style for "Лечение ка" */

    color: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
       @media (max-width: 768px)
    {
        padding: 0 20px 0 0;

        font-size: 23px;
      
    }
    @media (max-width: 426px)
    {
        padding: 0 5px 0 0;

        font-size: 23px;
        line-height: 16px;
        white-space: normal;
    }
    @media (max-width: 376px)
    {
        padding: 0 5px 0 0;

       
        text-align: left;
        white-space: normal;
    }
}

.price-block__title1,
.price-block__title2,
.price-block__title3
{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color: #000;
    border: none;
    @media (max-width: 426px)
    {
        font-size: 14px;
        line-height: 16px;
    }
    @media (max-width: 376px)
    {
        font-size: 12px;
        line-height: 10px;
    }
}
.price-block__title1
{
    padding: 0 0 0 35px;
    font-size: 20px;
      @media (max-width: 768px)
    {
        padding: 0 0 0 25px;
    }
    @media (max-width: 426px)
    {
        padding: 0 0 0 5px;
    }
}

.price-block__button a
{
    color: #000;
    border: 1px solid #45c8d3;
    border-radius: 25px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    padding: 14px 45px 15px 27px;
     &:hover{
       text-decoration:underline;  
    }
}


.price-block__button a span
{
    color: #45c8d3;
}

.price-block__button
{
    padding-top: 14px;
    padding-bottom: 35px;;

    text-align: right;
      @media(max-width: 768px){
        text-align:center;
    }

}
