.promotion__wrapper
{
    padding: 80px 180px !important;
    @media (max-width: 768px){
        padding: 59px 0 45px !important;
    }
    @media (max-width: 426px){
        padding: 31px 0 37px !important;
    }
}
.promotion__title
{
    margin: 0;
    margin-bottom: 20px;

    font-size: 32px;
    line-height: 36px;

    color: #000;
     @media (max-width: 768px){
        margin-bottom: 15px;
    }
      @media (max-width: 426px){
       font-size: 24px;
    }
}

.promotion__text
{
    margin: 0;
    padding: 0;
font-size: 17px;
    line-height: 24px;
    text-align: center;
    @media (max-width: 426px){
       font-size: 13px;
    }
}
.promotion__contacts .promotion__wrapper{
 padding: 60px 180px;
    @media (max-width: 768px){
        padding: 59px 0 45px;
    }
    @media (max-width: 426px){
        padding: 31px 0 37px;
    }   
}


.promotion__company .promotion__text{
    text-align: left;
    font-size: 18px;
    @media (max-width: 768px){
        padding:0 20px;
    }
  @media (max-width: 426px){
        padding:0 7px;
        text-align:center;
        font-size:  16px  ;  
    }
}    