.reasons
{
    background-color: #f2f8fa;
}
.reasons__wrapper
{
    padding: 57px 148px 47px 148px;
    @media (max-width: 1024px)
    {
        padding: 57px 50px 47px 50px;
    }
    @media (max-width: 1024px)
    {
        padding: 57px 0 47px 0;
    }
}

.reasons__text
{
    margin-bottom: 47px;
    padding-left: 20px;
padding-right:20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: #242424;
}
.reasons__block-wrapper
{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    @media (max-width: 768px)
    {
        flex-direction: row;
        justify-content: space-around;
        //align-items: center;
    }
    @media (max-width: 426px)
    {
        flex-direction: column;

        align-items: center;
    }
}
 .reasons__block
{   overflow: hidden;
    box-sizing: border-box;
    width: 470px;
    padding: 49px 48px 31px 100px;
    position:relative;
    border-radius: 10px;
    background-color: #fff;
    background-color: #fff;
    box-shadow: 0 0 27px rgba(192, 193, 193, .38);
    @media (max-width: 1024px)
    {
        padding: 29px 28px 11px 80px;
    }
    @media (max-width: 768px)
    {
        width: 350px;
        margin-bottom: 20px;
    }
    @media (max-width: 426px)
    {
        width: 100%;
        margin-bottom: 20px;
    }
}
 .reasons__block img{
    position:absolute;
    right:-10px;
    bottom:-10px;
    @media (max-width: 426px)
    {
        width: 70px;
     
    }  
 }
.reasons__block ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.reasons__block ul li
{
    position: relative;

    margin-bottom: 17px;

    font-size: 16px;
    font-weight: 400;

    color: #242424;;
}
.reasons__doctors .reasons__block
{
    box-sizing: border-box;
    padding: 44px 70px 54px 80px;
    margin-bottom: 30px;
    @media (max-width: 1024px)
    {
        padding: 29px 80px 24px 60px;
    }

    @media (max-width: 426px)
    {
        width: 95%;
        padding: 29px 60px 24px 50px;
    }
     @media (max-width: 376px)
    {
        width: 95%;
        padding: 29px 20px 60px 50px;
    }
}
#reasons .reasons__block ul li:before
{
    position: absolute;
    left: -50px;

    display: block;
    width: 23px;
    height: 23px;

    background-image: url(../img/rounded-delete-button-with-minus.png);

    content: '';
    @media (max-width: 768px){
        left:-40px;
    }
}
#reasons .reasons__block-desktop{
@media(max-width: 768px){
    display:none;

}
}
#reasons .reasons__block{
    @media (max-width: 768px){
        width:90%;
    }
     @media (max-width: 426px){
        width:95%;
    }
}
#reasons .reasons__block-tablet{
    display:none;
    @media(max-width:768px){
        display:block;
        box-shadow:none;
    }
}
 .reasons__company .reasons__block
{
    box-sizing: border-box;
    padding: 44px 70px 54px 80px;
    margin-bottom: 30px;
    @media (max-width: 1024px)
    {
        padding: 29px 80px 24px 60px;
    }

    @media (max-width: 426px)
    {
        width: 95%;
        padding: 29px 60px 24px 50px;
    }
     @media (max-width: 376px)
    {
        width: 95%;
        padding: 29px 20px 50px 50px;
    }
}

// #doctors .reasons__left
// {
//     background-image: url(../img/teeth.png);
//     background-repeat: no-repeat;
//     background-position: right 0 bottom 0;
//     @media (max-width: 426px){
//         background-size:60px auto
//     }
// }
// #doctors .reasons__right
// {
//     background-image: url(../img/like.png);
//     background-repeat: no-repeat;
//     background-position: right 0 bottom 0;
//      @media (max-width: 426px){
//         background-size:60px auto
//     }
// }
.reasons__block-text1
{
    position: relative;

    margin: 0 0 20px 0;

    font-size: 24px;
    line-height: 26px;

    color: #242424;
    &:before
    {
        position: absolute;
        top: -5px;
        left: -30px;

        display: block;
        width: 11px;
        height: 22px;

        border-right: 3px solid #45c8d3;
        border-bottom: 3px solid #45c8d3;
        border-radius: 2px;

        content: '';
        transform: rotate(45deg);
    }
}
.reasons__block-text2
{
    margin: 0 ;

    font-size: 16px;
    line-height: 24px;

    color: #242424;
    @media (max-width: 426px)
    {
        font-size: 14px;
        line-height: 18px;
    }
   
}
// .reasons__block
// {
//     box-sizing: border-box;
//     padding: 44px 70px 54px 80px;

//     @media (max-width: 1024px)
//     {
//         padding: 29px 80px 24px 60px;
//     }

//     @media (max-width: 426px)
//     {
//         width: 95%;
//         padding: 29px 60px 24px 50px;
//     }
//      @media (max-width: 376px)
//     {
//         width: 95%;
//         padding: 29px 20px 60px 50px;
//     }
// }

// #doctors .reasons__left
// {
//     background-image: url(../img/teeth.png);
//     background-repeat: no-repeat;
//     background-position: right 0 bottom 0;
//     @media (max-width: 426px){
//         background-size:60px auto
//     }
// }
// #doctors .reasons__right
// {
//     background-image: url(../img/like.png);
//     background-repeat: no-repeat;
//     background-position: right 0 bottom 0;
//      @media (max-width: 426px){
//         background-size:60px auto
//     }
// }
// #doctors.reasons__company .reasons__left{
//    background-image: url(../img/tooth5.png);  
// }
// #doctors.reasons__company .reasons__right{
//    background-image: url(../img/icon-people.png);  
// }
// #doctors.reasons__company .reasons__bottom-left{
//    background-image: url(../img/tooth6.png);  
// }
// #doctors.reasons__company .reasons__bottom-right{
//    background-image: url(../img/tooth7.png);  
// }