.services
{
    border: 1px solid transparent;
    position:relative;
}
.services__img{
  position:absolute;
  top:130px;
  left:50%;
  margin-left: -213px;
  @media (max-width: 1025px){
     display:none;
    }
}
.services__title
{
    margin: 40px 0 40px;
    @media (max-width: 768px){
        margin:40px 0 20px ;
    }
}
.services__wrapper
{
    position: relative;

    display: flex;
    overflow: hidden;
    padding: 40px 0;
   border: 1px solid transparent;
    // background-image: url(../img/therapy__img.png);
    // background-repeat: no-repeat;
    // background-position: center;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;

    @media (max-width: 1025px)
    {
       background-image: none;
       justify-content:flex-start;
       flex-direction:column;
        align-items:flex-start;
      height:345px;
      flex-wrap:wrap;
      padding:40px 0 0 0;
    }
    @media (max-width: 426px)
    {
        height:780px;
         align-items:center;
           justify-content:space-between;
            padding:20px 0 20px 0;
        
    }
}

.services__button
{
    // position: absolute;
    // bottom: 40px;
    // left: 50%;

    // margin-left: -112px;
    position:relative;
    z-index: 2;
    text-align:center;
    margin-top: -100px;
    margin-bottom: 60px;
@media (max-width: 1025px){
  margin-top: 0;
  padding:27px 44px 20px;
    margin-bottom: 0;
    background-color: #f2f8fa;
    background-image:url(../img/background__services.png);
    background-repeat:no-repeat;
    margin-bottom: 50px
}
    @media (max-width: 426px)
    {
        padding:27px 0px 20px ;
         background-image:url(../img/background__services2.png);
    }
}
.services__button-text{
    display:none;
    @media (max-width: 1025px){
        display:block;

color: #000000;

font-size: 24px;
font-weight: 400;

padding:0;
margin:0;
margin-bottom: 12px;
padding-left:34%;
    }
    @media(max-width: 426px){
        font-size: 18px;
        padding-left:54%;
        text-align: left;
    }
}
.services__button a
{
    padding: 14px 42px 12px 25px;
text-align:right;
    font-size: 20px;
    line-height: 19px;
position:relative;
    border-radius: 32px;
    background-color: #44c7d2;
    background-image: url(../img/blue-shadow.png);
    box-shadow: 0 5px 17px 0  rgba(68, 199, 210, .35);
    &:before{
        content:'>>';
        position:absolute;
        right:15px;
        top:25px;
 @media (max-width: 1025px){
     top:25px;
    }
     @media (max-width: 426px){
     top:15px;
    }
    }
     @media (max-width: 768px){
     font-size: 18px;
    }
       @media (max-width: 426px){
     font-size: 15px;
      padding: 5px 41px 5px 19px;
     
      margin-right: auto;
      display: inline-block;
      margin-right:0;
    }
}

.services__button-wrapper{
    @media (max-width:1025px){
        text-align: right;
    }
}

.services__wrapper .services__item a{
     display:inline-block;
 font-size: 19px;
    line-height: 24px;
    text-decoration: none;
color: #242424;
position:relative;
@media(max-width: 768px){
   font-size: 16px; 
   line-height:18px;
}
@media(max-width: 426px){
   text-align:center;
   display: block;
}
}


.services__wrapper a:hover,

{
    text-decoration: underline;

    color: #43c7d2;
}


.services__wrapper .services__item
{
   
    margin-top: 0px;
    margin-bottom: 51px;
    position:relative;
    width: 50%;

    
    @media (max-width: 1025px)
    {
    width:230px;
    min-height:64px;
    display:block;
    page-break-inside: avoid;
    vertical-align: middle;
margin-bottom: 20px;
    }
    @media (max-width: 426px)
    {
        width:48%;
        margin-top: 90px;
        margin-bottom: 0;
        
    }
}
.services__item a img{
  position:absolute;

}
.services__item:nth-child(odd)
{
    text-align: right;
      @media (max-width: 1025px)
    {
    text-align: left;
    }
}
.services__1 a img{
  top:-20px;
  right:170px;
     @media (max-width: 1025px)
    {
    top:-20px;
  left:0px;

    }
     @media (max-width: 426px)
    {
    top:-90px;
  left:50%;
  margin-left:-34px

    }
}
.services__2 a img{
   top:-20px; 
     left:170px;
     @media (max-width: 1025px)
    {
    top:-20px;
  left:0px;

    }
    @media (max-width: 426px)
    {
    top:-90px;
  left:50%;
  margin-left:-34px

    }
}
.services__3 a img,
.services__7 a img{
  top:-10px;
  right:250px;
  @media (max-width: 1025px)
    {
    top:-20px;
  left:0px;

    }
    @media (max-width: 426px)
    {
    top:-90px;
  left:50%;
  margin-left:-34px

    }
}
.services__4 a img,
.services__8 a img{
  top:-10px;
  left:250px;
  @media (max-width: 1025px)
    {
    top:-20px;
  left:0px;

    }
    @media (max-width: 426px)
    {
    top:-90px;
  left:50%;
  margin-left:-34px

    }
}
.services__5 a img{
  top:-20px;
  right:270px;
  @media (max-width: 1025px)
    {
    top:-20px;
  left:0px;

    }
    @media (max-width: 426px)
    {
    top:-90px;
  left:50%;
  margin-left:-34px

    }
}
.services__6 a img{
  top:-20px;
 left:270px;
 @media (max-width: 1025px)
    {
    top:-20px;
  left:0px;

    }
    @media (max-width: 426px)
    {
    top:-90px;
  left:50%;
  margin-left:-34px

    }
}
.services__9 a img{
  top:-10px;
  right:200px;
  @media (max-width: 1025px)
    {
    top:-20px;
  left:0px;

    }
    @media (max-width: 426px)
    {
    top:-90px;
  left:50%;
  margin-left:-34px

    }
}
.services__10 a img{
  top:-20px;
  left:200px;
  @media (max-width: 1025px)
    {
    top:-20px;
  left:0px;

    }
    @media (max-width: 426px)
    {
    top:-90px;
  left:50%;
  margin-left:-34px

    }
}

.services__1 a{
  padding-right: 300px;
 
  }

.services__2 a{
  padding-left: 300px;
}

.services__3 a{
  padding-right:365px;
  
}

.services__4 a{
 padding-left: 365px;
}

.services__5 a{
  padding-right:390px;

}

.services__6 a{
 padding-left: 369px;
}

.services__7 a {
  padding-right:365px;
 
}

.services__8 a{
 padding-left: 365px;

}

.services__9 a{
  padding-right:310px;
  
}

.services__10 a{
 padding-left: 310px;
}

.services__1 a,
.services__3 a,
.services__5 a,
.services__7 a,
.services__9 a
{
    @media (max-width: 1025px){
padding-right:0;

padding-left:80px;
}
 @media (max-width: 426px){

padding-left:0px;
}

}
.services__2 a,
.services__4 a,
.services__6 a,
.services__8 a,
.services__10 a
{
    @media (max-width:1025px){
padding-left:80px;
}
 @media (max-width: 426px){
padding-left:0px;
}
}

