// .specialists__title{
// 	  padding-top: 44px;
//     @media (max-width: 768px){
//         padding-top:30px;
//     }

// }

// .specialists__wrapper
// {
//     display: flex;
    
//     // overflow: hidden;
//     padding: 0 0 30px;
//     background-color:#fff;
  
// }

// .specialists__item{
// 	padding:30px 30px 38px 30px;
// 	display:flex;
// 	flex-direction:column;
// 	align-items:center;
// 	border-radius:10px;
// }

// .specialists__item-img{
// 	border-radius:50px;
// }
// .specialists__item p{
// 	font-size: 20px;
// }
// .specialists__item-button a{
// 	font-size: 20px;
// }







<section class="specialists">
            <h2 class="specialists__title">Наши специалисты</h2>
            <div class="content-wrapper specialists__wrapper">
                <div class="specialists__item">
                     <div class="specialists__item-img">
                         <img width="210" height="210" src="img/ava_vrach.png" alt="">
                     </div>
                     <p>Светлана Иванова</p>
                     <span>Стоматолог</span>
                     <div class="specialists__item-button">
                         <a href="#" class="button button--blue">Подробнее <span>>></span></a>
                     </div>
                </div>
            </div>
        </section>