.submenu
{
    position: absolute;
    z-index: 1;
    top: 125px;
    left: 0;

    display: flex;
    box-sizing: border-box;
    width: 100%;

    border-radius: 5px;
    background-color: #fdfefe;
    box-shadow: 0 -1px 6px rgba(0, 58, 88, .1);

    transition: .3s linear;

    align-items: stretch;
    @media (max-width:768px)
    {
        display: none;
    }
}
.header__scrolled .submenu
{
    top: 92px;
}
.submenu__wrapper
{
    display: flex;
    padding: 20px 0 21px 0px;
}
.services__submenu
{
    visibility: hidden;

    opacity: 0;

    transition: .3s linear;
    // position:absolute;
    //  top:125px;
    //  left:0;
    // 
}



.item__services:hover .services__submenu
{
    visibility: visible;

    opacity: 1;

    transform: rotateX(0deg);
}

.submenu__list
{
    position: relative;

    width: 290px;
    margin: 0;
    padding: 0;
    padding-right: 67px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    border-right: 1px solid #e8e8e8;

    list-style: none;
    @media (max-width: 1024px)
    {
        width: auto;
    }
}
.submenu__list-item
{
    position: relative;

    padding-bottom: 10px;
    padding-left:31px;
    padding-top:10px;
    color: #000;

    cursor: pointer;
    &:hover{
           background-color: #42c7d2;
    }
 }   
.submenu__list-item:hover a{
    color: #fff;
    background-color: #42c7d2;
    }

.submenu__list-item:after
{
    position: absolute;
    top: 10px;
    right: -45px;

    display: block;
    width: 20px;
    height: 20px;

    font-size: 16px;

    color: transparent;

    content: '>>';
}

.submenu__list-item--current:after
{
    color: #42c7d2;
    
}
.submenu__list li a
{
    text-decoration: none;

    color: #000;
    display:block;
}
.submenu-2
{
    width: 373px;

    flex-grow: 0;
}
.submenu-2__list
{
    display: none;
}
.border-active
{
    border-bottom: 1px solid blue;
}
.active
{
    display: block;
}

.submenu-3
{
    padding: 28px 36px 60px;

    background-color: #f2f8fa;

    flex-grow: 3;
}
.submenu__block
{
    display: none;

    background-color: #f2f8fa;
}
.submenu__block p
{
    margin-top: 36px;

    font-size: 14px;

    color: #7c9aa4;
}


.submenu-2__list
{
    margin: 0;
    padding: 0;

    text-decoration: none;

    list-style: none;
}
.submenu-2__list-item a
{
    display: block;
    padding: 15px 31px;

    text-decoration: none;

    color: #000;
}
.submenu-2__list-item a:hover
{
    color: #fff;
    background-color: #42c7d2;
}
.active
{
    display: block;
}
