.uslugi
{
    border-top: 1px solid transparent;
}
.uslugi__descr
{
    margin: 0;
    padding: 0;
    padding: 0 70px 60px;

    font-size: 17px;
    line-height: 24px;
    text-align: center;
    @media (max-width: 426px)
    {
        padding: 0 20px 30px;
    }
}

.uslugi__title
{
    margin: 67px 0 50px;
    @media (max-width: 426px)
    {
        margin: 37px 0 30px;
    }
}
.uslugi__wrapper
{
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1024px)
    {
        justify-content: center;
    }
}
.uslugi__razdel
{
    position: relative;

    overflow: hidden;
    box-sizing: border-box;
    width: 619px;
    min-height: 280px;
    margin-bottom: 30px;
    padding: 49px 200px 18px 67px;

    border-radius: 5px;
    background-color: #f7f9fa;
    // background-image: url(../img/img1.png);
    // background-repeat: no-repeat;
    
    box-shadow: 0 -1px 6px rgba(0, 58, 88, .1);
    @media (max-width: 1025px)
    {
        width: 100%;
        min-height: 200px;
        padding: 29px 190px 10px 47px;

        // background-position: right 0;
    }
    @media (max-width:426px)
    {
        min-height: 200px;
             background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));

        padding: 10px 50px 0 10px;
         margin-bottom: 40px;
         margin-top:40px;
        background-position: right 0;
        overflow:visible;
    }
}
.uslugi__razdel:first-child{
    margin-top:80px;  
}
.uslugi__razdel img{
    position:absolute;
    top:0;
    right:0;
    height:100%;
}

// .uslugi__razdel:after
// {
//     position: absolute;
//     top: 0;
//     left: 0;

//     width: 100%;
//     height: 100%;

//     opacity: 0;
//     background-color: rgba(68, 199, 210, .7);

//     content: '';
// }

// .uslugi__razdel:hover:after
// {
//     opacity: 1;
// }
// .uslugi__razdel:hover .uslugi__razdel-list li a,
// .uslugi__razdel:hover .uslugi__razdel-title
// {
//     color: #fff;
// }
.uslugi__razdel:hover .uslugi__razdel-list li a:hover
{
    z-index: 4;

    text-decoration: underline;

    color: #9ef1f8;
}
.uslugi__razdel-list li a:active{

    text-decoration: underline;

    color: #9ef1f8;   
}
.uslugi__razdel1
{
    // background-image: url(../img/img1.png);
    //    @media (max-width:426px)
    // {  
    //    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/img1.png);
    // }
}
.uslugi__razdel2
{
    // background-image: url(../img/img2.png);
    //      @media (max-width:426px)
    // {  
    //       background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/img2.png);

    // }
}
// .uslugi__razdel3
// {
//     background-image: url(../img/img3.png);
//     background-position: right 0;
//          @media (max-width:426px)
//     {  
//               background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/img3.png);

//     }
// }
// .uslugi__razdel4
// {
//     background-image: url(../img/img4.png);
//          @media (max-width:426px)
//     {  
//     background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/img4.png);

//     }
// }
// .uslugi__razdel5
// {
//     background-image: url(../img/img5.png);
//          @media (max-width:426px)
//     {  
//               background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/img5.png);

//     }
// }
// .uslugi__razdel6
// {
//     background-color: rgba(247, 249, 250, .2);
//     background-image: url(../img/img6.png);
//          @media (max-width:426px)
//     {  
//      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/img6.png);

//     }
// }
// .uslugi__razdel7
// {
//     background-image: url(../img/img7.png);
//          @media (max-width:426px)
//     {  
//     background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/img7.png);

//     }
// }
// .uslugi__razdel8
// {
//     background-image: url(../img/img8.png);
//          @media (max-width:426px)
//     {  
//     background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/img8.png);

//     }
// }
// .uslugi__razdel9
// {
//     background-image: url(../img/img-9.png);
//          @media (max-width:426px)
//     {  
//     background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/img-9.png);

//     }
// }
.uslugi__razdel--wide
{
    width: 100%;
    padding: 49px 365px 18px 67px;

    @media (max-width: 1025px)
    {
        padding: 29px 190px 0 47px;
        // width: 500px;

        // background-position: right 0;

        order: -1;
    }
    @media (max-width: 426px)
    {
        padding: 2px 2px 0 2px;

        // background-position: right 0 bottom 0;

        order: 0;
    }
}
.uslugi__razdel--wide .uslugi__razdel-list
{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}
.uslugi__razdel--wide .uslugi__razdel-list div
{
    @media (max-width: 426px)
    {
        width: 42%;
    }
}
// .uslugi__razdel--wide .uslugi__razdel-list div:first-child{
//  @media (max-width: 426px){
//      margin-right:10px;

//  }

// }
.uslugi__razdel-list
{
    z-index: 2;

    padding: 0;

    list-style: none;
}
.uslugi__razdel-list li
{
    position: relative;
    z-index: 4;

    margin-bottom: 5px;
    padding-left: 30px;
    &:before
    {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 16px;
        height: 16px;

        background-image: url('../img/icon_checkbox.png');
        background-repeat: no-repeat;

        content: '';
    }
}
// .uslugi__razdel:hover .uslugi__razdel-list li:before
// {
//     background-image: url('../img/v-white.png');
// }
.uslugi__razdel-list li a
{
    position: relative;
    z-index: 4;

    font-size: 16px;
    text-decoration: none;

    color: #3e3e3e;

    @media(max-width:1024px)
    {
        font-size: 14px;
    }
}
.uslugi__razdel-title
{
    position: relative;
    z-index: 2;

   // display: block;
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 400;

    color: #101010;
   @media(max-width: 426px){
    position:absolute;
    top:-60px;
    text-align: center;
    display:block;
    width:100%;
}
}
.uslugi__razdel-title.block_mobile
{
  @media(max-width: 426px){
    text-align:center
  }
}
