<h1>Редактирование меню</h1>
<form action="" method="post" enctype="multipart/form-data" id="addMenuList" class="menuForm">
{include file='formBlocks.tpl'}
<input type="submit" value="Сохранить" name="doSave" class="handyButton" />
</form>