<h1>Редактирование пункта в меню: {$PARENT_NAME.menuListName}</h1>

<form action="" method="post" enctype="multipart/form-data" id="addInnerMenu" class="InnerMenuForm">
{include file='formBlocks.tpl'}
<input type="hidden" value="{$PARENT_NAME.menuListID}" name="Menu[0][menuListID]" />
<input type="submit" value="Сохранить" name="doSave" class="handyButton" />
</form>

{*<div style="text-align: right; margin: -30px 0 5px 0;">
    <input type="button" id="goAddTheme" class="goToBtn" value="Добавить пункт" />
    <input type="hidden" id="goAddTheme_link" value="{$CONTROLLER_ALIAS}{$METHOD_ALIAS}/add/" />
</div>

{include file='paginator.tpl'}
<table class="highlightable" id="faqTable">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>alias</th>
            <th style="width: 10px;"><img src="{$ADMIN_IMAGES}icons/delete_icon.png" /></th>
			</tr>
    </thead>
    <tbody>
{if !empty($INNER_MENU)}
    {foreach from=$INNER_MENU item=THEME key=I}
        <tr>
            <td style="display: none;"><a href="{$CONTROLLER_ALIAS}{$METHOD_ALIAS}/edit/{$THEME.itemID}/" /></td>
            <td style="width: 20px;">{$I+1}</td>
            <td>
              {$THEME.name}
            </td>
            <td>
                {$THEME.alias}
            </td>
            <td class="deleteEntry">
                <a href="{$CONTROLLER_ALIAS}{$METHOD_ALIAS}/del/{$THEME.categoryID}/" title="Удалить"><img src="{$ADMIN_IMAGES}delete_icon.png" alt="Удалить" style="border: 0;" /></a>
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>
{else}
    </tbody>
</table>
    <div class="error">Записей не найдено</div>
{/if}
*}